{% extends "home/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'garage_files/main.css' %}">
<div class="container">
    <img src="{% static 'garage_files/profil.jpg' %}" width="200" alt="">
    <img class="rotate" src="{% static 'garage_files/logo_outside.png' %}" width="200" alt="">
</div>
<div id="socials">
    <a href="https://www.facebook.com/garageisep/"><img src="{% static 'garage_files/Facebook.svg' %}" alt="Facebook"></a>
    <a href="https://www.linkedin.com/company/garageisep/"><img src="{% static 'garage_files/Linkedin.svg' %}" alt="Linkedin"></a>
    <a href="https://www.instagram.com/garageisep/"><img src="{% static 'garage_files/Instagram.svg' %}" alt="Instagram"></a>
</div>

{% endblock content %}
