{% extends "layout/markdown.html" %}
{% block markdown %}
<h1 id="discord-bot">Discord bot</h1>
<p>A discord bot who obeys me.</p>
<h1 id="short-presentation">Short presentation</h1>
<p>This is a discord bot in python that does everything i tell it to do. I added cool features to it:</p>
<p><strong>APIs</strong> wikipedia, translations, memes, insults</p>
<p><strong>Machine learning for vulgarity evaluations</strong> - accept all languages (check command)</p>
<p><strong>Music support (uses youtube-dl)</strong> - play music from youtube urls - queue system - rating system for skipping - accepts playlists url … Soon: - save playlists to reuse later</p>
<p><strong>Bank and games system</strong> - play rock/papers/scissors to win coins - play heads or tails Soon: Casino system to play all types of games</p>
<p><strong>Admin commands (Need to install the project to use them and change config folder, see the section)</strong> - mute and kick people from voice channel (as long as wanted) - ban, kick people - promote, demote people - clear chat …</p>
<p><strong>Basic commands</strong> - say hi - see top role, roles, permissions - tell date, hour …</p>
<p><strong>Sell your commands.</strong> - choose commands prices</p>
<p><strong>and lots of other things…</strong></p>
<p><strong>More info</strong> - Databases: mongodb, sqlite - Hosted by heroku</p>
<h1 id="to-use-my-bot-in-your-server">To use my bot in your server</h1>
<p>Go to: <em>https://discord.com/api/oauth2/authorize?client_id=703347349623144549&amp;permissions=8&amp;scope=bot</em></p>
<h1 id="to-install-the-project-to-run-your-own-bot">To install the project to run your own bot</h1>
<p><strong>Download python3.8 (Tested in 3.8.2)</strong> - Download from the official website (recommended): https://www.python.org/ OR - Download with homebrew (for mac or windows) - Go to homebrew website and download by typing their command: https://brew.sh/ - Then download python3.8 by typing into terminal: brew install python3.8</p>
<p><strong>Make a folder to download the repo (use cd, ls, mkdir in linux) (optional)</strong> For instance to create a project in root: - cd ~ - mkdir DiscordBot - cd discordbot</p>
<p><strong>Download the repo by typing:</strong> - git clone https://github.com/MarcPartensky/discord-bot-esclave</p>
<p><strong>Go into the new repo by typing:</strong> - cd esclave</p>
<p><strong>Use a virtual environment in python (optional but highly recommended)</strong> To do so type: - pip3.8 install virtualenv #install virtualenv - virtualenv esclave #create a virtual environment named esclave (you can name it however you want) - source esclave/bin/activate #activate your virtual environment, to deactivate type ‘deactivate’</p>
<p><strong>Download librairies by typing:</strong> - pip install requirements.txt (if using virtualenv)</p>
<p>OR - pip3.8 install requirements.txt (if not using virtualenv, this will install packages globally in machine)</p>
<p><strong>You are almost good to go you just need to change credentials.py and config.py files to run your own discord bot</strong> to learn more: https://discordpy.readthedocs.io/en/latest/discord.html</p>
<p>you might need to change the ‘masters’ list with your own discord id to have admin commands</p>
<p><strong>Finally start the program by typing</strong> - python main.py (if using virtualenv)</p>
<p>OR - python3.8 main.py (if not using virtualenv)</p>
<p><strong>Deactivate virtual environment after use (if using virtualenv) by typing:</strong> - deactivate</p>
<h1 id="host-your-own-bot-version-on-heroku-for-free">Host your own bot version on Heroku for free</h1>
<p>If you want to host the bot later on i recommand this tutorial video of tech with tim on youtube:</p>
<p><em>https://www.youtube.com/watch?v=BPvg9bndP1U</em></p>
<h1 id="learn-more-about-discord-bots-in-python">Learn more about discord bots in python</h1>
<p>Here are some good playlists to get started in discord bots in python:</p>
<ul>
<li><p>Playlist of Tech with Tim: <em>https://www.youtube.com/watch?v=xdg39s4HSJQ&amp;list=PLzMcBGfZo4-kdivglL5Dt-gY7bmdNQUJu</em></p></li>
<li><p>Playlist of Lucas: <em>https://www.youtube.com/watch?v=nW8c7vT6Hl4&amp;list=PLW3GfRiBCHOhfVoiDZpSz8SM_HybXRPzZ</em></p></li>
</ul>
</article>
{% endblock markdown %}
