{% extends "home/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'home/border-animation.css' %}">

<div id="vanta-net">
<style>
#vanta-net {
    width: 100%;
    height: 50rem;
    position: relative;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r120/three.js" integrity="sha512-QCGz+55D77J/HfFhwUYiQ1jMFoaW0ObpqJFV2YwKqn+QhxEqlLtvG/7QOMBcRl/G3wWdLXe3hQ2I5oyPBHLStA==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.19/vanta.net.min.js" integrity="sha512-/LpqfCB57f0y4eEO82P1gq+CzbWyG6n1qOJ+Uc3v6PuCibWgnUNvPB1EpiQ9UKJy4hqEuBSLGah+94zn4Vy3Hw==" crossorigin="anonymous"></script>

<script>
VANTA.NET({
  el: "#vanta-net",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0xffffff,
  backgroundColor: 0x0,
  points: 20.00
})
</script>

{% endblock content %}
