{% extends "home/base.html" %}
{% block content %}
<div class="container">
  <h1>Welcome to my personal website.</h1>
  <p class="text-justify">My name is Marc Partensky. I am a french student of 20 years old at <a href="https://www.isep.fr/">ISEP.</a>
  I am used to spending most of my time coding on my multiple <a href="../projects">projects</a>.
  I started coding at the age of 16 on my calculator. Then at the age of 18 I started coding with Python
  which quickly became my favorite programming language. I began by playing with
  <a href="https://www.pygame.org/">pygame</a> and even later made my own library on top of it named
  <a href="https://pypi.org/project/pygame-geometry/">pygame-geometry</a> which was used for most of my
  pygame games and also used for my <a href="https://pypi.org/project/fourier-drawing">fourier-drawing</a>
  library in python.
  As soons as i learned python I started following tutorials of C, C++, Java, C#, Swift and I started to
  get familiar with web development as I wanted to make multiplayer games. Thus, as I entered in
  <a href="https://en.wikipedia.org/wiki/Higher_education">higher education</a>, I learned how most of the
  web is set up and how http works and I learned html, css, javascript, php, sass, bootstrap, nodejs,
  reactjs, vuejs and django with python (this website uses django). With my newly acquired web skills I
  started making this website and added few of my <a href="../games">games</a>. For my TIPE of the first year
  i made a replica of the game <a href="https://en.wikipedia.org/wiki/Reversi">Othello</a> also called 
  <a href="https://en.wikipedia.org/wiki/Reversi">Reversi</a> which can be found
  <a href="https://github.com/MarcPartensky/TIPE-P1A">here</a>.
  I also experimented with making games with unity and made an opengl simulation in c++ of
  <a href="https://github.com/MarcPartensky/TIPE-P2B">granular flow</a> for my TIPE in second year.
  Then as I always wanted to get seriously into machine learning I followed 5 lessons on Coursera on
  the matter and i received the certifications that come with it visible on my
  <a href="https://www.linkedin.com/in/marc-partensky/">linkedin page</a>.
  Meanwhile I started to develop a 
  <a href="https://github.com/marcpartensky/discord-bot-esclave">discord bot</a>
  for fun to use in my own server. Now i plan to use my deep learning knowledge in order to make a
  it a clever chatbot which you can talk with.
  </p>
</div>
{% endblock content %}
