{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
    <link rel="stylesheet" href="{% static 'base/style.css' %}">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'base/icons.css' %}">

</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-header">
        <a class="pull-left" href="#">
          <img src="https://avatars0.githubusercontent.com/u/38857901?s=460&u=d8136c5a75703aeef7204b9d054ca386a65e80d8&v=4" width=50rem height='50rem'>
         </a>
      </div>

      <a class="navbar-brand" href="/">Website of Marc Partensky</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog-home' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'planning' %}">Planning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'first-site' %}">First Site</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'games' %}">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'touch-typing' %}">Touch Typing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cv' %}">CV</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contact Me
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="mailto:marc.partensky@gmail.com">Mail</a>
              <button class="dropdown-item" onclick="copyToClipboard('+33 07 67 44 36 62'); alert('copied phone number')">+33 07 67 44 36 62</button>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Set Appointment</a>
            </div>
          </li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
      <!-- navbar-left will move the search to the left -->
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <!-- </div> -->
        
    {% block content %} {% endblock content %}

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->
<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >-->


    <hr class="mt-5 mb-5">
    </br>

    <div class="container" style="text-align: center">
        <a target="_blank" href="https://www.facebook.com/marc.partensky/" class="fa fa-facebook"></a>
        <a target="_blank" href="https://github.com/marcpartensky/" class="fa fa-github"></a>
        <a target="_blank" href="https://www.linkedin.com/in/marc-partensky/" class="fa fa-linkedin"></a>
        <a target="_blank" href="https://twitter.com/MarcPartensky/" class="fa fa-twitter"></a>
        <a target="_blank" href="https://www.reddit.com/user/Marc-Partensky/" class="fa fa-reddit"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCGC4Tnr_j87F2sq-s6vWFGA" class="fa fa-youtube"></a>
        <a target="_blank" href="https://www.instagram.com/marcpartensky/" class="fa fa-instagram"></a>
    </div>

    <footer id="basefooter" class="mainfooter" role="contentinfo">
      <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#"></a></li>
                <li><a href="mailto:marc.partensky@gmail.com">Email: marc.partensky@gmail.com</a></li>
                <li>Phone: +33 07 67 44 36 62</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>In development</h4>
              <ul class="list-unstyled">
                <li><a href="#">FAQs</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>External projects</h4>
              <ul class="list-unstyled">
                <li><a href="https://websiteofmarcpartensky.herokuapp.com/">Main website</a></li>
                <li><a href="https://marc-partensky.netlify.com/">First website</a></li>
                <li><a href="https://connect4ofmarcpartensky.herokuapp.com/">Connect4 game</a></li>
                <li><a href="https://youtube-downloader-of-marc.herokuapp.com">Youtube music downloader</a></li>
                <li><a href="https://agario-marc-partensky.herokuapp.com/">Agario clone (pure vanilla javascript)</a></li>
              </ul>
            </div>
          </div>
            <div class="col-md-3">
                <h4>Follow Me</h4>
                <div class="social-area text-center" itemscope="" itemtype="https://schema.org/LocalBusiness">
                    <a target="_blank" href="https://www.facebook.com/marc.partensky/" class="fa fa-facebook"></a>
                    <a target="_blank" href="https://github.com/marcpartensky/" class="fa fa-github"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/marc-partensky/" class="fa fa-linkedin"></a>
                    <a target="_blank" href="https://twitter.com/MarcPartensky/" class="fa fa-twitter"></a>
                    <a target="_blank" href="https://www.reddit.com/user/Marc-Partensky/" class="fa fa-reddit"></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCGC4Tnr_j87F2sq-s6vWFGA" class="fa fa-youtube"></a>
                    <a target="_blank" href="https://www.instagram.com/marcpartensky/" class="fa fa-instagram"></a>
                </div>
            </div>
          </div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2020 - Marc Partensky Corp.  All rights reserved.</p>
                </div>
            </div>
          </div>
      </div>
    </footer>

  
    <script type="text/javascript">
$('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
  if (!$(this).next().hasClass('show')) {
    $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
  }
  var $subMenu = $(this).next('.dropdown-menu');
  $subMenu.toggleClass('show');


  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
    $('.dropdown-submenu .show').removeClass('show');
  });


  return false;
});

const copyToClipboard = str => {
  const el = document.createElement('textarea');
  el.value = str;
  el.setAttribute('readonly', '');
  el.style.position = 'absolute';
  el.style.left = '-9999px';
  document.body.appendChild(el);
  el.select();
  document.execCommand('copy');
  document.body.removeChild(el);
};    
    </script>
</body>
</html>
