{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Website of Marc Partensky</title>
  <!-- Basic Html Meta Tags -->
  <meta content="Marc Partensky, marc.partensky@gmail.com" name="author">
  <meta content="My name is Marc Partensky. i am 20 years old and i study at isep.
* actively looking for a job.
* hyperactive on github.
* 5 certificates in deep learning
* fluent in english" name="description"/>
  <meta content="My name is Marc Partensky. i am 20 years old and i study at isep.
* actively looking for a job.
* hyperactive on github.
* 5 certificates in deep learning
* fluent in english" name="keywords"/>
  <meta name="theme-color" content="#ff0000" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="language" content="en">
  <meta name="topic" content="promotion projects resume portfolio certificates">
  <meta name="coverage" content="Worldwide">
  <meta name="distribution" content="Global">
  <meta name="subject" content="website of marc partensky">
  <meta name="copyright"content="marc.partensky@gmail.com">
  <meta name="reply-to" content="marc.partensky@gmail.com">
  <meta name="designer" content="Marc Partensky">
  <meta name="owner" content="Marc Partensky">
  <meta name="url" content="https://websiteofmarcpartensky.herokuapp.com">
  <meta name="identifier-URL" content="https://websiteofmarcpartensky.herokuapp.com">
  <meta name="category" content="personal website">

<meta name="robots" content="index,follow" />
<meta name="abstract" content="">
<meta name="summary" content="">

  <!-- OpenGraph Meta Tags -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://websiteofmarcpartensky.herokuapp.com/"/>
  <meta property="og:title" content="Website of Marc Partensky"/>
  <meta property="og:name" content="Website of Marc Partensky"/>
  <meta property="og:description" content="My name is Marc Partensky. i am 20 years old and i study at isep.
* actively looking for a job.
* hyperactive on github.
* 5 certificates in deep learning
* fluent in english"/>
  <meta property="og:image" content="{% static 'home/assets/img/welcome.png' %}"/>
  <meta property="og:video" content="{% static 'home/assets/vid/welcome.mp4' %}"/>
  <meta property="og:video:type" content="video/mp4">
  <meta property="og:video:url" content="{% static 'home/assets/vid/welcome.mp4' %}" />
  <meta property="og:video:secure_url" content="{% static 'home/assets/vid/welcome.mp4' %}" />

  <meta name="og:locality" content="Versailles"/>
  <meta name="og:region" content="Île de France"/>
  <meta name="og:postal-code" content="78000"/>
  <meta name="og:country-name" content="France"/>
  <meta name="og:email" content="marc.partensky@gmail.com"/>
  <meta name="og:phone_number" content="07 67 44 36 62"/>

  <!-- Apple -->
  <meta name="apple-mobile-web-app-title" content="Website of Marc Partensky">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="yes" name="apple-touch-fullscreen" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-startup-image" href="{% static 'home/assets/img/welcome.png' %}">
  <link rel="apple-touch-icon" type="image/png" href="{% static 'home/assets/img/welcome.png' %}" />

  <!-- Internet explorer -->
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="msapplication-starturl" content="https://websiteofmarcpartensky.herokuapp.com"/>
  <meta name="application-name" content="Website of Marc Partensky"/>

  <link rel='index' title='Website of Marc Partensky' href='https://websiteofmarcpartensky.herokuapp.com' />

<!-- Icons -->
<link rel="stylesheet" href="{% static 'base/devicon.min.css' %}">
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

<style>
.icon-language {
    font-size: 5rem;
}
.iconify {
    font-size: 5rem;
}
</style>

  <!-- Favicons -->
  <link href="{% static 'home/assets/img/white-orchid.svg' %}" rel="icon">
  <link href="{% static 'home/assets/img/black-orchid.svg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'home/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'home/assets/css/light.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
        <a href="/" class="hero-logo"><img id="firstorchid" style="width: 40%; height: 40%" src="{% static 'home/assets/img/white-orchid.svg' %}" alt=""></a>
      <h1 data-aos="zoom-in">Welcome to the Website of Marc Partensky</h1>
      <h2 data-aos="fade-up">
        I'm a <span class="typed" data-typed-items="Developer, Freelancer, Game Maker, Student"></span>
      </h2>
      <a data-aos="fade-up" href="#about" class="btn-get-started scrollto">More about me</a>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container">

      <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
      <div class="logo d-block d-lg-none">
          <a data-aos="fade-down" href="/" class="icon-back-to-top"><img src="{% static 'home/assets/img/black-orchid.svg' %}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul class="nav-inner">

          <li class="drop-down"><a href="">Explore</a>
            <ul>
              <li><a href="{% url 'demo' %}">Demos</a></li>
              <li><a href="{% url 'touch-typing' %}">Touch typing</a></li>
              <li><a href="{% url 'planning' %}">Planning</a></li>
              <li><a href="{% url 'first-site' %}">First site</a></li>
              <li><a href="{% url 'game' %}">Games</a></li>
              <li><a href="{% url 'blog-home' %}">Blog</a></li>
              <li><a href="{% url 'cv' %}">Curriculum Vitae</a></li>
              <li class="drop-down"><a href="#">Projects</a>
                <ul>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="active"><a href="#about">About me</a></li>
          <li><a href="#skills">Skills</a></li>

          <li class="nav-logo" style="width: 15%; height: 15%"><a href="/"><img src="{% static 'home/assets/img/black-orchid.svg' %}" alt="" class="img-fluid"></a></li>

          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#certificates">Certificates</a></li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Me</h2>
          <p>Learning everyday because life is too short to waste any.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <a href="https://i.ibb.co/MNYfS8T/marc-on-top.jpg">
                <div class="image">
                    <img style="width: 100%; height: 100%" src="https://i.ibb.co/MNYfS8T/marc-on-top.jpg" alt="marc-on-top"></img>
                    <cite>Royan, France - August 2020</cite>
                </div>
            </a>
          </div>
          <div class="col-lg-6" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <h3>My name is Marc Partensky.</h3>
              <p class="font-italic">
                 I am 20 years old and I study at <a href="https://www.isep.fr/">ISEP</a>.
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i> Actively looking for a job. </li>
                <li><i class="bx bx-check-double"></i> Hyperactive on Github. </li>
                <li><i class="bx bx-check-double"></i> 5 certificates in Deep learning </li>
                <li><i class="bx bx-check-double"></i> Fluent in English </li>
              </ul>
              <p style="text-align: justify; text-justify: inter-word">
              I am used to spending most of my time coding on my multiple <a href="../projects">projects</a>.
              I started coding at the age of 16 on my calculator. Then at the age of 18 I started coding with Python
              which quickly became my favorite programming language. I began by playing with
              <a href="https://www.pygame.org/">pygame</a> and even later made my own library on top of it named
              <a href="https://pypi.org/project/pygame-geometry/">pygame-geometry</a> which was used for most of my
              pygame games and also used for my <a href="https://pypi.org/project/fourier-drawing">fourier-drawing</a>
              library in python.
              As soons as i learned python I started following tutorials of C, C++, Java, C#, Swift and I started to
              get familiar with web development as I wanted to make multiplayer games. Thus, as I entered in
              <a href="https://en.wikipedia.org/wiki/Higher_education">higher education</a>, I learned how most of the
              web is set up and how http works and I learned html, css, javascript, php, sass, bootstrap, nodejs,
              reactjs, vuejs and django with python (this website uses django). With my newly acquired web skills I
              started making this website and added few of my <a href="../games">games</a>. For my TIPE of the first year
              i made a replica of the game <a href="https://en.wikipedia.org/wiki/Reversi">Othello</a> also called
              <a href="https://en.wikipedia.org/wiki/Reversi">Reversi</a> which can be found
              <a href="https://github.com/MarcPartensky/TIPE-P1A">here</a>.
              I also experimented with making games with unity and made an opengl simulation in c++ of
              <a href="https://github.com/MarcPartensky/TIPE-P2B">granular flow</a> for my TIPE in second year.
              Then as I always wanted to get seriously into machine learning I followed 5 lessons on Coursera on
              the matter and i received the certifications that come with it visible on my
              <a href="https://www.linkedin.com/in/marc-partensky/">linkedin page</a>.
              Meanwhile I started to develop a
              <a href="https://github.com/marcpartensky/discord-bot-esclave">discord bot</a>
              for fun to use in my own server. Now i plan to use my deep learning knowledge in order to make
              it a clever chatbot which you can talk with.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in">
            <span class="iconify icon-language" data-icon="logos:python" data-inline="false"></span>
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="100">
            <i class="devicon-c-plain colored icon-language"></i>
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="200">
            <span class="iconify icon-language" data-icon="cib:unity" data-inline="false"></span>
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="300">
            <span class="iconify icon-language" data-icon="logos:java" data-inline="false"></span>
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="400">
            <span class="iconify icon-language" data-icon="logos:javascript" data-inline="false"></span>
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="500">
            <i class="devicon-php-plain colored icon-language"></i>
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="skills" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Skills</h2>
          <p>Over the years, I developed a lots of programming skills by myself out of passion.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4>Machine learning</h4>
              <p>Owner of 5 certificates in deep learning, expert in python, knowledge of Tensorflow, Keras, Numpy, Matplotlib, familiar with R</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-cube-alt"></i>
              <h4>Web development</h4>
              <p>Development of this website from scratch in Django (python framework), proficient in Node and Express, knowledge of Vue and React, big fan of MongoDB over MySQL and PostgreSQL, familiar with Sass, extensive use of Bootstrap, grasp of Elasticsearch.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-images"></i>
              <h4>Game creation</h4>
              <p>Made a 3D game in Unity called Retro Cube, Made multiple game for browser such as SpaceInvader, Connect4, Asteroids, grasp of WebGL and Babylon, Founder of the Pygame-Geometry and Fourier-Drawing libraries on Pypi</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-shield"></i>
              <h4>Networking and Cyber security</h4>
              <p>Knowledge of all basics protocols and ports, TCP/IP and OSI models, deep understanding of Unix like systems, aware of MITM, XSS, DDOS, SQL injection attacks, familiar with Postman and Curl, grasp of Wireshark and Nmap</p>
            </div>
          </div>

            <div class="embed-responsive embed-responsive-1by1 image col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <iframe async class="embed-responsive-item" src="{% static 'cv/cv.pdf' %}" type="application/pdf" allowfullscreen></iframe>
            </div>
        </div>

      </div>
    </section><!-- End Services Section -->


    <section class="counts section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Github activity</h2>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
            <div class="count-box">
              <i class="icofont-users-alt-5" style="color: #20b38e;"></i>
              <span data-toggle="counter-up" >{{ github_followers }}</span>
              <p>Followers</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="icofont-server" style="color: #c042ff;"></i>
              <span data-toggle="counter-up" >{{ github_repos_number }}</span>
              <p>Repositories</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
            <div class="count-box">
              <i class="icofont-pie-chart" style="color: #46d1ff;"></i>
              <span data-toggle="counter-up" >{{ github_year_commits }}</span>
              <p>Year commits</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
            <div class="count-box">
              <i class="icofont-space-shuttle" style="color: #ffb459;"></i>
              <span data-toggle="counter-up" >{{ github_month_commits }}</span>
              <p>Month commits in {{ github_month_commits_repos }} repos</p>
            </div>
          </div>

        </div>

      </div>
    </section>


    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                    <iframe async id="open-web-calendar">Loading...</iframe>
                    <!-- <iframe async id="open-web-calendar" -->
                    <!--     style="center center no-repeat" -->
                    <!--     src="https://open-web-calendar.herokuapp.com/calendar.html?url=https%3A%2F%2Fcalendar.google.com%2Fcalendar%2Fical%2Fmarc.partensky%2540gmail.com%2Fpublic%2Fbasic.ics&amp;language=fr" -->
                    <!--     sandbox="allow-scripts allow-same-origin allow-top-navigation" -->
                    <!--     allowTransparency="true" scrolling="no" -->
                    <!--     frameborder="0" height="600px" width="100%"></iframe> -->
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                    <img src="{% static 'home/assets/img/setup.jpg' %}" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                    <img src="{% static 'home/assets/img/featured/featured-1.png' %}" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-4">
                <figure>
                    <img src="https://iili.io/3hOmen.md.jpg" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                  <h4>Autonomous</h4>
                  <p>
                  There is always have something to do.
                  If you disagree your first goal is to make yourself a planning.
                  </p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                  <h4>Passionate</h4>
                  <p>
                  It is my goal to learn everything there is to learn in computer science.
                  This is why I keep teaching myself everyday.
                  </p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                  <h4>Open minded</h4>
                  <p>
                  I'd rather you disagree with me than the opposite, because maybe then
                  I might learn something new.
                  </p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-4">
                  <h4>Enterprising</h4>
                  <p>
                  I am not afraid of failure.
                  It's only by failing a thousand times that I will have a chance of succeeding once.
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->


    <!-- ======= Why Us Section ======= -->
    <section id="why-this-website" class="why-us">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-stretch">

            <div class="section-title" data-aos="fade-up">
              <h2>Why make a website?</h2>
              <p>This website is a way to get better in web development, expose my side projects and self promote myself for getting a job.</p>
            </div>

            <div class="accordion-list">
              <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                  <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span>Who is if for?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                    <p>
                    Everyone wishing to know more about me, going from friends and recruiters, to simply curious visitors.
                    </p>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                  <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span>What is in it?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                    <p>
                    Lots and lots of side projects with some demos and tests. But also few informations about me.
                    </p>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                  <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> Why an orchid? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                    <p>
                    Maybe try to catch my nationality and the name of my dog, it might enlighten this mystery.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 order-1 order-lg-2 align-items-stretch video-box" data-aos="zoom-in" style="text-align: center; padding: 5rem">
              <img src="{% static 'qrcode.svg' %}" style="width: 70%; height: 70%">
              <p><b>Scan to add me as a contact.</b></p>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Portfolio</h2>
          <p>Some of my side projects.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-game">Game</li>
              <li data-filter=".filter-simulation">Simulation</li>
              <li data-filter=".filter-library">Library</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-simulation">
            <div class="portfolio-wrap">
                <img src="https://iili.io/3hjCV2.md.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Fourier drawing</h4>
                <p>Simulation</p>
                <div class="portfolio-links">
                    <a href="https://j.gifs.com/jZmnWP.gif" data-gall="portfolioGallery" class="venobox" title="Fourier drawing"><i class="bx bx-plus"></i></a>
                  <a href="https://pypi.org/project/fourier-drawing" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-library">
            <div class="portfolio-wrap">
                <img src="https://iili.io/3hhEuf.md.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Pygame geometry</h4>
                <p>Library</p>
                <div class="portfolio-links">
                    <a href="https://s8.gifyu.com/images/spaceships-turning.gif" data-gall="portfolioGallery" class="venobox" title="Pygame geometry"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/marcpartensky/pygame-geometry" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-simulation">
            <div class="portfolio-wrap">
                <img src="https://iili.io/3hh0yG.md.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sand simulation</h4>
                <p>Simulation</p>
                <div class="portfolio-links">
                    <a href="https://s8.gifyu.com/images/sand-simulation-v2.gif" data-gall="portfolioGallery" class="venobox" title="Sand simulation"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/MarcPartensky/Python-Games/blob/master/Game%20Structure/geometry/version5/sandbox.py" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-game">
            <div class="portfolio-wrap">
                <img src="https://repository-images.githubusercontent.com/204046730/db82fd00-b8a9-11ea-9d14-f789bf344bf9" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Asteroids</h4>
                <p>Game</p>
                <div class="portfolio-links">
                    <a href="https://s8.gifyu.com/images/asteroids.gif" data-gall="portfolioGallery" class="venobox" title="Asteroids"><i class="bx bx-plus"></i></a>
                  <a href="/first-site/asteroids" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-game">
            <div class="portfolio-wrap">
                <img src="https://iili.io/3XbCHg.md.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Retro cube</h4>
                <p>Game</p>
                <div class="portfolio-links">
                    <a href="https://s8.gifyu.com/images/retro-cube.gif" data-gall="portfolioGallery" class="venobox" title="Retro cube"><i class="bx bx-plus"></i></a>
                  <a href="https://drive.google.com/file/d/1Rc3lsfvgD5Y58m2in6vbd41ow9SzETTu/view?usp=drivesdk" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-simulation">
            <div class="portfolio-wrap">
                <img src="https://iili.io/3Xb2VV.md.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Granular flow</h4>
                <p>Simulation</p>
                <div class="portfolio-links">
                    <a href="https://s8.gifyu.com/images/sand-simulation.gif" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/marcpartensky/tipe-p2b" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-library">
            <div class="portfolio-wrap">
                <img src="https://iili.io/3Xbfl1.md.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Pygame Geometry</h4>
                <p>Library</p>
                <div class="portfolio-links">
                    <a href="https://s8.gifyu.com/images/bezier.gif" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="https://pypi.org/project/pygame-geometry/" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-game">
            <div class="portfolio-wrap">
                <img src="https://iili.io/3hjYoQ.md.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Othello</h4>
                <p>Game</p>
                <div class="portfolio-links">
                    <a href="https://s8.gifyu.com/images/othello.gif" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/marcpartensky/tipe-p1a" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-simulation">
            <div class="portfolio-wrap">
                <img src="https://iili.io/3XboOJ.md.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mandelbrot set</h4>
                <p>Simulation</p>
                <div class="portfolio-links">
                    <a href="https://s8.gifyu.com/images/mandelbrot.gif" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/MarcPartensky/Python-Games/tree/master/Mandelbrot" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="certificates" class="testimonials">
      <div class="container" data-aos="zoom-in">
        <div class="quote-icon">
          <i class="icofont-award"></i>
        </div>
        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <p>
              Delivered by Coursera in March 2020
            </p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe async class="embed-responsive-item" src="{% static 'home/assets/pdf/certificate-1.pdf' %}" type="application/pdf" allowfullscreen></iframe>
            </div>
            <h3>Neural Networks and Deep Learning</h3>
            <h4><a target="_blank" href="https://coursera.org/verify/85SDPU4SWDQM">Verify</a></h4>
          </div>

          <div class="testimonial-item">
            <p>
              Delivered by Coursera in March 2020
            </p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe async class="embed-responsive-item" src="{% static 'home/assets/pdf/certificate-2.pdf' %}" type="application/pdf" allowfullscreen></iframe>
            </div>
            <h3>Improving Deep Neural Networks: Hyperparameter tunning, Regularization and Optimization</h3>
            <h4><a target="_blank" href="https://coursera.org/verify/GCQZS7H8HFM4">Verify</a></h4>
          </div>

          <div class="testimonial-item">
            <p>
              Delivered by Coursera in April 2020
            </p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe async class="embed-responsive-item" src="{% static 'home/assets/pdf/certificate-3.pdf' %}" type="application/pdf" allowfullscreen></iframe>
            </div>
            <h3>Structuring Machine Learning Projects</h3>
            <h4><a target="_blank" href="https://coursera.org/verify/G52ATN4KSM69">Verify</a></h4>
          </div>

          <div class="testimonial-item">
            <p>
              Delivered by Coursera in April 2020
            </p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe async class="embed-responsive-item" src="{% static 'home/assets/pdf/certificate-4.pdf' %}" type="application/pdf" allowfullscreen></iframe>
            </div>
            <h3>Convolutional Neural Networks</h3>
            <h4><a target="_blank" href="https://coursera.org/verify/C76NP3CMBMB3">Verify</a></h4>
          </div>

          <div class="testimonial-item">
            <p>
              Delivered by Coursera in April 2020
            </p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe async class="embed-responsive-item" src="{% static 'home/assets/pdf/certificate-5.pdf' %}" type="application/pdf" allowfullscreen></iframe>
            </div>
            <h3>Sequence Models</h3>
            <h4><a target="_blank" href="https://coursera.org/verify/23X8YKXP69CZ">Verify</a></h4>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->


    {% comment %}<!-- ======= Team Section ======= -->{% endcomment %}
    {% comment %}<section id="team" class="team">{% endcomment %}
      {% comment %}<div class="container">{% endcomment %}

        {% comment %}<div class="section-title" data-aos="fade-up">{% endcomment %}
          {% comment %}<h2>Team</h2>{% endcomment %}
          {% comment %}<p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>{% endcomment %}
        {% comment %}</div>{% endcomment %}

        {% comment %}<div class="row">{% endcomment %}

          {% comment %}<div class="col-lg-4 col-md-6 d-flex align-items-stretch">{% endcomment %}
            {% comment %}<div class="member" data-aos="zoom-in">{% endcomment %}
              {% comment %}<div class="member-img">{% endcomment %}
                  {% comment %}<img src="{% static 'home/assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">{% endcomment %}
                {% comment %}<div class="social">{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-twitter"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-facebook"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-instagram"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-linkedin"></i></a>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</div>{% endcomment %}
              {% comment %}<div class="member-info">{% endcomment %}
                {% comment %}<h4>Walter White</h4>{% endcomment %}
                {% comment %}<span>Chief Executive Officer</span>{% endcomment %}
                {% comment %}<p>Animi est delectus alias quam repellendus nihil nobis dolor. Est sapiente occaecati et dolore. Omnis aut ut nesciunt explicabo qui. Eius nam deleniti ut omnis</p>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}

          {% comment %}<div class="col-lg-4 col-md-6 d-flex align-items-stretch">{% endcomment %}
            {% comment %}<div class="member" data-aos="zoom-in" data-aos-delay="100">{% endcomment %}
              {% comment %}<div class="member-img">{% endcomment %}
                  {% comment %}<img src="{% static 'home/assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">{% endcomment %}
                {% comment %}<div class="social">{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-twitter"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-facebook"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-instagram"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-linkedin"></i></a>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</div>{% endcomment %}
              {% comment %}<div class="member-info">{% endcomment %}
                {% comment %}<h4>Sarah Jhonson</h4>{% endcomment %}
                {% comment %}<span>Product Manager</span>{% endcomment %}
                {% comment %}<p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}

          {% comment %}<div class="col-lg-4 col-md-6 d-flex align-items-stretch">{% endcomment %}
            {% comment %}<div class="member" data-aos="zoom-in" data-aos-delay="200">{% endcomment %}
              {% comment %}<div class="member-img">{% endcomment %}
                  {% comment %}<img src="{% static 'home/assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">{% endcomment %}
                {% comment %}<div class="social">{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-twitter"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-facebook"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-instagram"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-linkedin"></i></a>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</div>{% endcomment %}
              {% comment %}<div class="member-info">{% endcomment %}
                {% comment %}<h4>William Anderson</h4>{% endcomment %}
                {% comment %}<span>CTO</span>{% endcomment %}
                {% comment %}<p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero. Maxime sit sunt quo dolor autem est qui quaerat</p>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}

        {% comment %}</div>{% endcomment %}

      {% comment %}</div>{% endcomment %}
    {% comment %}</section><!-- End Team Section -->{% endcomment %}

    {% comment %}<!-- ======= Pricing Section ======= -->{% endcomment %}
    {% comment %}<section id="pricing" class="pricing section-bg">{% endcomment %}
      {% comment %}<div class="container">{% endcomment %}

        {% comment %}<div class="section-title" data-aos="fade-up">{% endcomment %}
          {% comment %}<h2>Pricing</h2>{% endcomment %}
          {% comment %}<p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>{% endcomment %}
        {% comment %}</div>{% endcomment %}

        {% comment %}<div class="row">{% endcomment %}

          {% comment %}<div class="col-lg-4 col-md-6">{% endcomment %}
            {% comment %}<div class="box" data-aos="zoom-in" data-aos-delay="100">{% endcomment %}
              {% comment %}<h3>Free</h3>{% endcomment %}
              {% comment %}<h4><sup>$</sup>0<span> / month</span></h4>{% endcomment %}
              {% comment %}<ul>{% endcomment %}
                {% comment %}<li>Aida dere</li>{% endcomment %}
                {% comment %}<li>Nec feugiat nisl</li>{% endcomment %}
                {% comment %}<li>Nulla at volutpat dola</li>{% endcomment %}
                {% comment %}<li class="na">Pharetra massa</li>{% endcomment %}
                {% comment %}<li class="na">Massa ultricies mi</li>{% endcomment %}
              {% comment %}</ul>{% endcomment %}
              {% comment %}<div class="btn-wrap">{% endcomment %}
                {% comment %}<a href="#" class="btn-buy">Buy Now</a>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}

          {% comment %}<div class="col-lg-4 col-md-6 mt-4 mt-md-0">{% endcomment %}
            {% comment %}<div class="box recommended" data-aos="zoom-in">{% endcomment %}
              {% comment %}<span class="recommended-badge">Recommended</span>{% endcomment %}
              {% comment %}<h3>Business</h3>{% endcomment %}
              {% comment %}<h4><sup>$</sup>19<span> / month</span></h4>{% endcomment %}
              {% comment %}<ul>{% endcomment %}
                {% comment %}<li>Aida dere</li>{% endcomment %}
                {% comment %}<li>Nec feugiat nisl</li>{% endcomment %}
                {% comment %}<li>Nulla at volutpat dola</li>{% endcomment %}
                {% comment %}<li>Pharetra massa</li>{% endcomment %}
                {% comment %}<li class="na">Massa ultricies mi</li>{% endcomment %}
              {% comment %}</ul>{% endcomment %}
              {% comment %}<div class="btn-wrap">{% endcomment %}
                {% comment %}<a href="#" class="btn-buy">Buy Now</a>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}

          {% comment %}<div class="col-lg-4 col-md-6 mt-4 mt-lg-0">{% endcomment %}
            {% comment %}<div class="box" data-aos="zoom-in" data-aos-delay="100">{% endcomment %}
              {% comment %}<h3>Developer</h3>{% endcomment %}
              {% comment %}<h4><sup>$</sup>29<span> / month</span></h4>{% endcomment %}
              {% comment %}<ul>{% endcomment %}
                {% comment %}<li>Aida dere</li>{% endcomment %}
                {% comment %}<li>Nec feugiat nisl</li>{% endcomment %}
                {% comment %}<li>Nulla at volutpat dola</li>{% endcomment %}
                {% comment %}<li>Pharetra massa</li>{% endcomment %}
                {% comment %}<li>Massa ultricies mi</li>{% endcomment %}
              {% comment %}</ul>{% endcomment %}
              {% comment %}<div class="btn-wrap">{% endcomment %}
                {% comment %}<a href="#" class="btn-buy">Buy Now</a>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}

        {% comment %}</div>{% endcomment %}

      {% comment %}</div>{% endcomment %}
    {% comment %}</section><!-- End Pricing Section -->{% endcomment %}

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>FAQ</h2>
        </div>

        <ul class="faq-list">

          <li data-aos="fade-up">
            <a data-toggle="collapse" class="collapsed" href="#faq1">Which school did you go to?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-parent=".faq-list">
              <p>
              I stayed my whole childhood in a school named Saint Jean Hulst until I got my high school diploma then I went to an engineering school called ISEP where I still am today.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <a data-toggle="collapse" href="#faq2" class="collapsed">How did you learn all these skills?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
              I learned most of it on openclassrooms and on youtube.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-toggle="collapse" href="#faq3" class="collapsed">What are your hobbies?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
              I like spending my time with my dog Glouay-May, playing basketball and adding plugins to my neovim setup ;) I sometimes go to keybr.com to compete against others in touch typing when I feel like it.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq4" class="collapsed">How can I contact you?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
              Just scroll to the bottom of the page and here you go!
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <a data-toggle="collapse" href="#faq5" class="collapsed">Did you make this website all by yourself?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
              That's right!
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq6" class="collapsed">I want to give you a job offer.<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p>
              I am very open to job offers and I'd be very happy to hear your proposal. Drop me your phone number and your email in the contact section and I'll make sure to call you to give you my answer.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Send me a message. I can't wait to meet you.</p>
        </div>

        <div style="width: 100%">
            <!-- <iframe async width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Boulevard%20Saint%20Antoine,%20Versailles+(My%20home)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> -->
            <a href="https://www.maps.ie/route-planner.htm">Journey Planner</a>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Boulevard Saint Antoine,<br>Versailles, 78000</p>
              </div>

              <div class="email">
                  <a href="mailto:marc.partensky@gmail.com"><i class="icofont-envelope"></i></a>
                    <h4>Email:</h4>
                    <p>marc.partensky@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+33 07 67 44 36 62</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-left">
                {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-6">
              <a href="#header" class="scrollto footer-logo"><img src="{% static 'home/assets/img/white-orchid.svg' %}" alt=""></a>
            <h3>Marc Partensky</h3>
            <p>If you wish to be notified about my activities enter your mail here.</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>

        <div class="social-links">
          {% comment %}<a href="https://www.facebook.com/marc.partensky/" class="twitter"><i class="bx bxl-twitter"></i></a>{% endcomment %}
          <a target="_blank" href="https://www.facebook.com/marc.partensky/" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a target="_blank" href="https://www.instagram.com/marcpartensky/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/marc-partensky/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a target="_blank" href="https://github.com/marcpartensky/" class="github"><i class="bx bxl-github"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Marc Partensky</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="/">Marc Partensky</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'home/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'home/assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'home/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'resume/assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'home/assets/vendor/aos/aos.js' %}"></script>

  <script src="{% static 'base/three.r119.min.js' %}"></script>
  <script src="{% static 'base/vanta.net.min.js' %}"></script>
  <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

  <script>
  VANTA.NET({
    el: "#footer",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x770000,
    backgroundColor: 0x0,
    points: 20.00
  })
  </script>

  <!-- Template Main JS File -->
  <script src="{% static 'resume/assets/js/main.js' %}"></script>
  <script src="{% static 'home/assets/js/main.js' %}"></script>

</body>

</html>
