{% extends "home/base.html" %}
{% block welcome %}
<div class="container">
  <div class="page-header">
      <h1>Welcome to the website of Marc Partensky!</h1>
  </div>
</div>
{% endblock welcome %}

{% block content %}
<div class="container">
  <div class="dropdown"></div>
      <button class="btn btn-primary dropdown-toggle btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" ar-a-haspopup="true" aria-expanded="true">Qui suis-je?
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <li class="dropdown-header">Marvel</li>
          <li><a href="#">
              <div class="well">
                  <div class="caption">
                      <p>Je suis un étudiant de 20 ans qui programme sur son temps libre.</p>
                  </div>
              </div>
          </a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">DC</li>

          <li class="disabled"><a href="#">Superman</a></li>
          <li><a href="#">Batman</a></li>
          <li><a href="#">Flash</a></li>
      </ul>                
     
  </div>
</div>
{% endblock content %}