[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "*"
appdirs = "*"
appnope = "*"
arrow = "*"
asgiref = "*"
astroid = "*"
async-timeout = "*"
attrs = "*"
autobahn = "*"
backcall = "*"
blessed = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
cffi = "*"
channels = "*"
channels-redis = "*"
chardet = "*"
click = "*"
colorama = "*"
commonmark = "*"
constantly = "*"
coverage = "*"
cryptography = "*"
daphne = "*"
decorator = "*"
defusedxml = "*"
dj-database-url = "*"
django-503 = "*"
django-admin = "*"
django-allauth = "*"
django-appconf = "*"
django-avatar = "*"
django-compressor = "*"
django-cors-middleware = "*"
django-crispy-forms = "*"
django-excel-base = "*"
django-excel-response2 = "*"
django-extensions = "*"
django-ftpserver = "*"
django-heroku = "*"
django-jsonfield-backport = "*"
django-libsass = "*"
django-markdown-view = "*"
django-mdeditor = "*"
django-picklefield = "*"
django-q = "*"
django-rename-app = "*"
django-shortuuidfield = "*"
django-six = "*"
django-sql-explorer = "*"
django-storages = "*"
djangorestframework = "*"
docopt = "*"
docutils = "*"
flake8 = "*"
future = "*"
graphviz = "*"
gunicorn = "*"
h2 = "*"
hiredis = "*"
hpack = "*"
hyperframe = "*"
hyperlink = "*"
idna = "*"
importlib-metadata = "*"
incremental = "*"
ipython = "*"
isort = "*"
jedi = "*"
jeepney = "*"
jmespath = "*"
keyring = "*"
"keyrings.alt" = "==3.2.0"
lazy-object-proxy = "*"
libsass = "*"
mccabe = "*"
mock = "*"
msgpack = "*"
msgpack-python = "*"
mypy-extensions = "*"
nose = "*"
oauthlib = "*"
parso = "*"
pathspec = "*"
pexpect = "*"
pickleshare = "*"
pip-autoremove = "*"
pip-conflict-checker = "*"
pip-review = "*"
pipdeptree = "*"
pipupgrade = "*"
priority = "*"
prompt-toolkit = "*"
psycopg2-binary = "*"
ptyprocess = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycodestyle = "*"
pycparser = "*"
pyflakes = "*"
pyftpdlib = "*"
pylint = "*"
pyparsing = "*"
python-dateutil = "*"
python-dotenv = "*"
python3-openid = "*"
pytz = "*"
rcssmin = "*"
redis = "*"
regex = "*"
requests = "*"
requests-oauthlib = "*"
rich = "*"
rjsmin = "*"
s3transfer = "*"
screen = "*"
shortuuid = "*"
six = "*"
sqlparse = "*"
toml = "*"
traitlets = "*"
txaio = "*"
typed-ast = "*"
typing-extensions = "*"
tzlocal = "*"
urllib3 = "*"
wcwidth = "*"
whitenoise = "*"
wrapt = "*"
xlwt = "*"
yarg = "*"
zipp = "*"
"zope.interface" = "*"
Automat = "*"
Django = "*"
ipython_genutils = "*"
Markdown = "*"
Pillow = "*"
Pygments = "*"
PyHamcrest = "*"
PyJWT = "*"
pyOpenSSL = "*"
PyYAML = "*"
SecretStorage = "*"
service_identity = "*"
Twisted = "*"
django-robots = "*"

[dev-packages]
black = "*"
jedi = "*"
pylint = "*"

[requires]
python_version = "3.7.12"
