aioredis
appdirs
appnope
arrow
asgiref
astroid
async-timeout
attrs
autobahn
Automat
backcall
black
blessed
boto3
botocore
certifi
cffi
channels
channels-redis
chardet
click
colorama
commonmark
constantly
cryptography
daphne
decorator
defusedxml
dj-database-url
Django
django-503
django-admin
django-allauth
django-appconf
django-avatar
django-compressor @ git+https://github.com/django-compressor/django-compressor.git@24f6648723b0b7d3ae88e17a20961ccb3ac1b1e7
django-cors-middleware
django-crispy-forms
django-excel-base
django-excel-response2
django-extensions
django-ftpserver
django-heroku
django-jsonfield-backport
django-libsass
django-markdown-view
django-mdeditor
django-picklefield
django-q
django-rename-app
django-shortuuidfield
django-six
django-sql-explorer
django-storages
djangorestframework
docopt
docutils
future
gunicorn
hiredis
hyperlink
idna
importlib-metadata
incremental
ipython
ipython-genutils
isort
jedi
jeepney
jmespath
keyring
keyrings.alt
lazy-object-proxy
libsass
Markdown
mccabe
msgpack
msgpack-python
mypy-extensions
oauthlib
packaging
parso
pathspec
pexpect
pickleshare
Pillow
pip-autoremove
pip-review
pipupgrade
prompt-toolkit
psycopg2-binary
ptyprocess
pyasn1
pyasn1-modules
pycparser
pyftpdlib
Pygments
PyHamcrest
pyicloud
PyJWT
pylint
pyOpenSSL
pyparsing
python-dateutil
python-dotenv
python3-openid
pytz
rcssmin
redis
regex
requests
requests-oauthlib
rich
rjsmin
s3transfer
screen
SecretStorage
service-identity
shortuuid
six
sqlparse
toml
traitlets
Twisted
txaio
typed-ast
typing-extensions
tzlocal
urllib3
wcwidth
whitenoise
wrapt
xlwt
yarg
zipp
zope.interface
