{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Junior ISEP - Dossier de candidature</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'article/assets/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/pilcrow.css'%}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/hljs-github.min.css' %}"/>
  </head>
<body>

  <div id="toc">
    <div id="toc-inner"><ul class="nav nav-list">
    <li class="sidebar-header-1"><a href="#junior-isep---dossier-de-candidature">Junior ISEP - Dossier de candidature</a></li>
    <li class="sidebar-header-2"><a href="#pourquoi-es-tu-candidat?">Pourquoi es-tu candidat?</a></li>
    <li class="sidebar-header-2"><a href="#as-tu-déjà-participé-à-l’organisation-ou-la-réalisation-de-projets-?-quel-rôle-as-tu-joué-au-sein-de-l’équipe-?">As-tu déjà participé à l’organisation ou la réalisation de projets ? quel rôle as-tu joué au sein de l’équipe ?</a></li>
    <li class="sidebar-header-2"><a href="#quels-sont-tes-passions-et-centres-d&#x27;intérêt">Quels sont tes passions et centres d&#x27;intérêt</a></li>
    <li class="sidebar-header-2"><a href="#que-peux-tu-apporter-à-la-junior-isep?">Que peux-tu apporter à la Junior ISEP?</a></li>
    <li class="sidebar-header-2"><a href="#qu&#x27;attends-tu-de-la-junior-isep?">Qu&#x27;attends-tu de la Junior ISEP?</a></li>
    <li class="sidebar-header-2"><a href="#que-penses-tu-faire-en-tant-que-chef-de-projet-et-quel-intérêt-y-trouveras-tu?">Que penses-tu faire en tant que chef de projet et quel intérêt y trouveras-tu?</a></li>
    <li class="sidebar-header-2"><a href="#où-te-vois-tu-dans-10-ans?-à-la-fois-sur-le-plan-professionnel-et-personnel?">Où te vois-tu dans 10 ans? à la fois sur le plan professionnel et personnel?</a></li>
    <li class="sidebar-header-2"><a href="#qu’est-ce-qu’une-junior-entreprise-?-combien-y-en-a-t-il-en-france-?-quelle-organisation-les-gère-en-france-?-et-en-europe-?">Qu’est ce qu’une junior entreprise ? Combien y en a-t-il en France ? Quelle organisation les gère en France ? Et en Europe ?</a></li>
    <li class="sidebar-header-2"><a href="#si-tu-souhaites-compléter-ta-candidature,-n&#x27;hésite-pas-à-écrire-quelques-lignes-ci-dessous.">Si tu souhaites compléter ta candidature, n&#x27;hésite pas à écrire quelques lignes ci-dessous.</a></li>
</ul>
    </div>
  </div>

  <div id="wrapper">
    <div id="header">

    </div>

    <div class="clear"></div>
    <div id="main">
      <div id="content" class="post"><h1 id="junior-isep---dossier-de-candidature"><a class="header-link" href="#junior-isep---dossier-de-candidature"></a>Junior ISEP - Dossier de candidature</h1>
<h2 id="pourquoi-es-tu-candidat?"><a class="header-link" href="#pourquoi-es-tu-candidat?"></a>Pourquoi es-tu candidat?</h2>
<p>Je souhaite postuler pour devenir chef de projet pour de nombreuses raisons.</p>
<p>La première d’entre elle est l’acquisition d’expérience professionnelle. En effet mes 2 années en cycle préparatoire associé à l’ISEP (P1A, P2B) m’ont permis d’assimiler de nombreuses compétences théoriques ainsi qu’une meilleur organisation de mon travail et de mon temps. Cependant je pense qu’il est temps pour moi de passer à la pratique et je suis convaincu que faire un premier pas dans le monde professionnel sera une expérience très enrichissante d’un point de vue professionnel mais également d’un point de vue personnel.</p>
<p>La seconde raison est la curiosité. Je suis très curieux par nature c&#39;est la raison pour laquelle je me suis formé à de nombreuses technologies et languages de programmation. Par simple curiosité et de façon autonome je me forme en ligne et j&#39;ai développé des compétences dans de nombreuses technologies informatiques (<a href="https://websiteofmarcpartensky.herokuapp.com/tests/programming-languages-logo)">https://websiteofmarcpartensky.herokuapp.com/tests/programming-languages-logo)</a>. Je ne suis pas du style à attendre de recevoir un cours pour en savoir plus, surtout en programmation.</p>
<h2 id="as-tu-déjà-participé-à-l’organisation-ou-la-réalisation-de-projets-?-quel-rôle-as-tu-joué-au-sein-de-l’équipe-?"><a class="header-link" href="#as-tu-déjà-participé-à-l’organisation-ou-la-réalisation-de-projets-?-quel-rôle-as-tu-joué-au-sein-de-l’équipe-?"></a>As-tu déjà participé à l’organisation ou la réalisation de projets ? quel rôle as-tu joué au sein de l’équipe ?</h2>
<p>En première j&#39;ai effectué un stage dans le cadre du programme scolaire. Ce stage consistait en la création d&#39;un site web Wordpress. Comme je n&#39;avais pas de compétences techniques à l&#39;époque j&#39;étais très à l&#39;écoute </p>
<p>Lors de ma première année étant donné que j&#39;étais à l&#39;ISEP en cycle préparatoire associé j&#39;ai du réalisé un TIPE en groupe de 3.</p>
<p>L&#39;objectif du TIPE consistait à recréer le jeu du Reversi et d&#39;y ajouter une intelligence artificielle capable de rivaliser contre un humain dans un temps raisonnable. Ma tâche dans ce projet consistait en sommes à créer l&#39;ensemble de la logique du jeu ainsi que l&#39;affichage. Il s&#39;agissait donc aussi de faire en sorte d&#39;expliquer le programme du jeu et décrire précisément comment s&#39;en servir pour ajouter l&#39;intelligence artificielle personnalisée.</p>
<p>J&#39;ai été à l&#39;écoute des attentes de mes camarades pour l&#39;amélioration. </p>
<p>Étant donné que j&#39;ai des bonnes capacités en programmation j&#39;ai pu</p>
<h2 id="quels-sont-tes-passions-et-centres-d'intérêt"><a class="header-link" href="#quels-sont-tes-passions-et-centres-d'intérêt"></a>Quels sont tes passions et centres d&#39;intérêt</h2>
<ul class="list">
<li><p>Régulièrement je me lance dans des projets divers de programmation. Cela allant de la création de jeu mobile ou multijoueur à la création de site web personnel (<a href="https://websiteofmarcpartensky.herokuapp.com/">https://websiteofmarcpartensky.herokuapp.com/</a>) et même la création d&#39;un bot discord. Je suis extrêmement actif sur github (<a href="https://github.com/marcpartensky/">https://github.com/marcpartensky/</a>) et je passe la majeure partie de mon temps à développer mes programmes existants où concrétiser mes idées de nouveaux programmes.</p>
</li>
<li><p>Par ailleurs je suis également assez sportif. J&#39;aime aussi jouer au basket de façon occasionnelle et je fais régulièrement du vélo à Versailles ma ville de domicile que ce soit des ballades dans le château ou des parcours de bmx.</p>
</li>
<li><p>Je suis aussi très intéressé par les sciences et plus particulièrement les mathématiques. En addition depuis 2 ou 3 ans je me suis découvert une passion pour le machine learning. C&#39;est la raison pour laquelle j&#39;ai suivi les 5 formations de deep learning délivrées par Andrew NG sur Coursera visibles sur mon profil linkedin (<a href="https://www.linkedin.com/in/marc-partensky/)">https://www.linkedin.com/in/marc-partensky/)</a>.</p>
</li>
</ul>
<h2 id="que-peux-tu-apporter-à-la-junior-isep?"><a class="header-link" href="#que-peux-tu-apporter-à-la-junior-isep?"></a>Que peux-tu apporter à la Junior ISEP?</h2>
<p>Je souhaite tout d&#39;abord apporter beaucoup d&#39;énergie et de motivation ainsi qu&#39;une perspective nouvelle dans l&#39;espoir de contribuer au maximum à la Junior. Étant habitué à m&#39;investir dans de nombreux projets personnels, je suis capable de détermination pour les achever. </p>
<p>En plus de ma bonne volonté je saurai me montrer à la hauteur pour persuader les clients par mon approche relationnelle subtile et efficace mais surtout les convaincre de façon rationnelle de la qualité des prestations fournies étant donné mes connaissances techniques poussées déjà existante. Effectivement je serais capable de comprendre à un niveau technique quels sont les besoins réels du client et d&#39;élaborer avec lui un cahier des charges détaillé sur l&#39;aspect technique pour ensuite répondre à ces besoins par une gestion éclairée du travail à fournir.</p>
<p>Je peux apporter mon autonomie, mon sens des responsabilités et des priorités. En effet je ne rejoins pas la Junior ISEP simplement par curiosité mais parce que j&#39;ai des réels enjeux derrières. Le principal d&#39;entre eux étant le financement de mes études et mon indépendance financière totale compte tenu du fait que mes parents refusent de me soutenir financièrement (excepté pour le logement et mon matériel).</p>
<h2 id="qu'attends-tu-de-la-junior-isep?"><a class="header-link" href="#qu'attends-tu-de-la-junior-isep?"></a>Qu&#39;attends-tu de la Junior ISEP?</h2>
<p>Je souhaite dès que possible bénéficier de mon indépendance financière. Il ne s&#39;agit pas de réaliser uniquement des petites missions car bien que je sois inscrit à numéris, je souhaite viser sur le plus long terme. Étant donné que j&#39;ai des compétences techniques je souhaite savoir le vite que possible comment les vendre pour pouvoir devenir complètement autonome financièrement mais aussi indépendant sur le plan professionnel. J&#39;attends donc de la Junior ISEP de m&#39;aider à développer mes compétences managériales et commerciales afin de gagner en perspective sur l&#39;ensemble du processus de la création d&#39;un logiciel depuis la recherche d&#39;un client, la conception, jusqu&#39;à la vente ainsi que la démarche administrative qui l&#39;accompagne.</p>
<p>De surcroît, je veux dès que possible développer cette expérience pratique car elle me permettra de développer un réseaux qui partagent les mêmes intérêts, objectifs et passions. Plus que de d&#39;ajouter un profil linkedin, je souhaite m&#39;addresser en personne les gens, que ce soit aux clients, aux autres chefs de projets ou simplement à vous. Effectivement je suis bien conscient que des relations solides sont indispensables à la recherche d&#39;emploi, de contrats ou même d&#39;une équipe de confiance.</p>
<h2 id="que-penses-tu-faire-en-tant-que-chef-de-projet-et-quel-intérêt-y-trouveras-tu?"><a class="header-link" href="#que-penses-tu-faire-en-tant-que-chef-de-projet-et-quel-intérêt-y-trouveras-tu?"></a>Que penses-tu faire en tant que chef de projet et quel intérêt y trouveras-tu?</h2>
<p>En tant que chef de projet je consoliderai les relations avec les clients de la junior entreprise et j&#39;irai au contact des nouveaux clients potentiels pour les convaincre de la fiabilité des prestations fournies par la Junior Entreprise.</p>
<h2 id="où-te-vois-tu-dans-10-ans?-à-la-fois-sur-le-plan-professionnel-et-personnel?"><a class="header-link" href="#où-te-vois-tu-dans-10-ans?-à-la-fois-sur-le-plan-professionnel-et-personnel?"></a>Où te vois-tu dans 10 ans? à la fois sur le plan professionnel et personnel?</h2>
<p>Sur le plan professionnel je me vois toujours dans le milieu de l&#39;informatique.
J&#39;aimerais fonder ma propre start-up et devenir auto-entrepreneur et rejoindre la Junior ISEP représente selon moi un premier pas pour réaliser cet objectif. </p>
<p>Ambitieux comme je suis, je souhaite prendre avantage en anglais pour partir à l&#39;étranger sûrement à la Silicon Valley pour profiter de l&#39;essort du marché informatique dont bénéficie la région. Cependant j&#39;envisage également de vivre dans des pays en voie développement tels que l&#39;Asie où la demande est grandissante et la vie paraît selon moi plus agréable.</p>
<h2 id="qu’est-ce-qu’une-junior-entreprise-?-combien-y-en-a-t-il-en-france-?-quelle-organisation-les-gère-en-france-?-et-en-europe-?"><a class="header-link" href="#qu’est-ce-qu’une-junior-entreprise-?-combien-y-en-a-t-il-en-france-?-quelle-organisation-les-gère-en-france-?-et-en-europe-?"></a>Qu’est ce qu’une junior entreprise ? Combien y en a-t-il en France ? Quelle organisation les gère en France ? Et en Europe ?</h2>
<p>Une junior entreprise est une association à but non lucratif. Son fonctionnement est similaire à une petite entreprise au sein d&#39;une école de l&#39;enseignement supérieure, elle fournit des services à des grands groupes comme à des particuliers et permet à ses étudiants de mettre en pratique les compétences assimilées et d&#39;aller au contact des clients.</p>
<p>En France on compte 180 Junior Entreprises toutes gérées par la Confédération Nationale des Junior-Entreprises (CNJE) dès 1969.</p>
<p>En Europe près de 280 Junior Entreprises sont réparties dans 15 pays différents et fédérées par la Confédération Européenne des Junior-Entreprises (JADE).</p>
<h2 id="si-tu-souhaites-compléter-ta-candidature,-n'hésite-pas-à-écrire-quelques-lignes-ci-dessous."><a class="header-link" href="#si-tu-souhaites-compléter-ta-candidature,-n'hésite-pas-à-écrire-quelques-lignes-ci-dessous."></a>Si tu souhaites compléter ta candidature, n&#39;hésite pas à écrire quelques lignes ci-dessous.</h2>
<p>Étant donné le fait que ma mère est schisophrène et a été à la rue pendant plus de 5 ans du à l&#39;incompétence flagrante de l&#39;état français incapable de l&#39;hôspitaliser, dès l&#39;âge de 11 ans je devais m&#39;organiser seul pour vivre avec mon frère (s&#39;occuper de l&#39;appartement, nourriture) cela développant très tôt mon autonomie. 
J&#39;ai effectué une demande de prêt d&#39;honneur et une demande de bourse auprès de la commission solidarité de l&#39;ISEP pour financer mes années à l&#39;ISEP.</p>
      </div>
    </div>

    <div class="clear">
    </div>

    <div id="footer">
    </div>
  </div>
</body>
</html>
