{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>APP Télécom - 3/11</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'article/assets/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/pilcrow.css'%}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/hljs-github.min.css' %}"/>
  </head>
<body>

  <div id="toc">
    <div id="toc-inner"><ul class="nav nav-list">
    <li class="sidebar-header-1"><a href="#app-télécom---3/11">APP Télécom - 3/11</a></li>
    <li class="sidebar-header-2"><a href="#remplir">Remplir</a></li>
    <li class="sidebar-header-2"><a href="#compléter-le-texte-suivant">Compléter le texte suivant</a></li>
    <li class="sidebar-header-2"><a href="#5.2">5.2</a></li>
    <li class="sidebar-header-2"><a href="#5.3-propriétés-des-fréquences-radio---compléter-et-retenez-bien-ces-propriétés">5.3 Propriétés des fréquences radio - Compléter et retenez bien ces propriétés</a></li>
    <li class="sidebar-header-2"><a href="#4">4</a></li>
    <li class="sidebar-header-2"><a href="#5">5</a></li>
</ul>
    </div>
  </div>

  <div id="wrapper">
    <div id="header">

    </div>

    <div class="clear"></div>
    <div id="main">
      <div id="content" class="post"><h1 id="app-télécom---3/11"><a class="header-link" href="#app-télécom---3/11"></a>APP Télécom - 3/11</h1>
<p>Transmission guidée fibre optique ou un câble</p>
<h2 id="remplir"><a class="header-link" href="#remplir"></a>Remplir</h2>
<p>Pour une liaison Bluetooth Low Energy opératn en bande ISM avec une fréquence porteuse f0 = 2.4 GHz entre un émetter et récepteur situé à une distance d = 30m l&#39;affaiblissement en indoor exprimé en db est <code>-96.7</code> dB, soit sans unité <code>10e-9.67</code>. La puissance de l&#39;émetteur est de <code>0.5e-9.67mW</code>, la puissance reçue en mW est soit en dBm <code>-99.7 dBm</code>. Les interférents sont estimés à -90 dBm soit en mW <code>10-9 mW</code>. La bande de transmission en Bluetooth est de 2 MH, le bruit thermique en mW est alors <code>8e-12 mW</code>. Le rapport signal à bruit plus interférences <u>sans unité</u> est <code>0.11</code> soit en dB <code>-9.6 dB</code>.</p>
<h2 id="compléter-le-texte-suivant"><a class="header-link" href="#compléter-le-texte-suivant"></a>Compléter le texte suivant</h2>
<ul class="list">
<li><code>?</code></li>
<li><code>?</code> </li>
</ul>
<h2 id="5.2"><a class="header-link" href="#5.2"></a>5.2</h2>
<ol class="list">
<li>ITU, CEPT, ANFP
Opérateurs, CFA, ...</li>
<li>Une bande de fréquence licenciée est réservée</li>
<li>Propriétés des<ul class="list">
<li>faible, élevé</li>
</ul>
</li>
</ol>
<h2 id="5.3-propriétés-des-fréquences-radio---compléter-et-retenez-bien-ces-propriétés"><a class="header-link" href="#5.3-propriétés-des-fréquences-radio---compléter-et-retenez-bien-ces-propriétés"></a>5.3 Propriétés des fréquences radio - Compléter et retenez bien ces propriétés</h2>
<ul class="list">
<li>Plus la fréquence de la porteuse est élevée, plus l&#39;affaiblissement de l&#39;ondre radio est <code>élevé</code> et plus la portée de l&#39;onde est <code>courte</code>.</li>
<li>Plus la fréquence de la porteuse est élevée, plus la directivité de l&#39;ondre radio est <code>élevée</code>.</li>
<li>Plus la fréquence de la porteuse est élevée, plus la taille de l&#39;antenne est <code>petite</code>.</li>
<li>Le radar de contrôle routier utilise la fréquence f0 <code>24 Ghz</code> pour détecter la vitesse de la voiture v (m/s) et se base sur l&#39;effet Doppler. Par effet Doppler, la fréquence maximale du signal réfléchi par la cible est f0 + Deltaf avec Deltaf = <code>f0 v/c</code>.</li>
<li>Plus la fréquence de la porteuse est élevée, le signal est <code>plus</code> sensible à l&#39;effet Doppler et la variation temporelle du signal <code>conséquente</code>.</li>
<li>Plus la bande réservée sur le spectre exploité sous licence est large, le coût sera <code>plus</code> et le débit est <code>élevé</code>.</li>
<li>Plus le débit est élevé, l&#39;occupation spectrale est <code>large</code> et la transmissions est <code>plus</code> pénalisée par la propagation multi-trajet causée par les réflexions, les diffractions</li>
</ul>
<h2 id="4"><a class="header-link" href="#4"></a>4</h2>
<p>interferenes</p>
<h2 id="5"><a class="header-link" href="#5"></a>5</h2>
      </div>
    </div>

    <div class="clear">
    </div>

    <div id="footer">
    </div>
  </div>
</body>
</html>
