{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Compléter le texte suivant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'article/assets/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/pilcrow.css'%}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/hljs-github.min.css' %}"/>
  </head>
<body>

  <div id="toc">
    <div id="toc-inner"><ul class="nav nav-list">
    <li class="sidebar-header-1"><a href="#compléter-le-texte-suivant">Compléter le texte suivant</a></li>
</ul>
    </div>
  </div>

  <div id="wrapper">
    <div id="header">

    </div>

    <div class="clear"></div>
    <div id="main">
      <div id="content" class="post"><h1 id="compléter-le-texte-suivant"><a class="header-link" href="#compléter-le-texte-suivant"></a>Compléter le texte suivant</h1>
      </div>
    </div>

    <div class="clear">
    </div>

    <div id="footer">
    </div>
  </div>
</body>
</html>
