{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Cours présentiel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'article/assets/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/pilcrow.css'%}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/hljs-github.min.css' %}"/>
  </head>
<body>

  <div id="toc">
    <div id="toc-inner"><ul class="nav nav-list">
    <li class="sidebar-header-1"><a href="#cours-présentiel">Cours présentiel</a></li>
    <li class="sidebar-header-2"><a href="#question-clés">Question clés</a></li>
</ul>
    </div>
  </div>

  <div id="wrapper">
    <div id="header">

    </div>

    <div class="clear"></div>
    <div id="main">
      <div id="content" class="post"><h1 id="cours-présentiel"><a class="header-link" href="#cours-présentiel"></a>Cours présentiel</h1>
<p>FT3-1-1-4
35 cartes électroniques</p>
<p>passerelle centrale (isep)</p>
<ul class="list">
<li>passerelle<ul class="list">
<li>carte électronique</li>
<li>carte électronique</li>
<li>...</li>
</ul>
</li>
<li>passerelle</li>
</ul>
<h2 id="question-clés"><a class="header-link" href="#question-clés"></a>Question clés</h2>
<ul class="list">
<li>Combien de carte éleectronique peut-on déployer par passerelle locale</li>
</ul>
      </div>
    </div>

    <div class="clear">
    </div>

    <div id="footer">
    </div>
  </div>
</body>
</html>
