{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Sujet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'article/assets/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/pilcrow.css'%}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/hljs-github.min.css' %}"/>
  </head>
<body>

  <div id="toc">
    <div id="toc-inner"><ul class="nav nav-list">
    <li class="sidebar-header-1"><a href="#sujet">Sujet</a></li>
    <li class="sidebar-header-1"><a href="#auteurs">Auteurs</a></li>
    <li class="sidebar-header-1"><a href="#démonstration">Démonstration</a></li>
    <li class="sidebar-header-1"><a href="#description">Description</a></li>
</ul>
    </div>
  </div>

  <div id="wrapper">
    <div id="header">

    </div>

    <div class="clear"></div>
    <div id="main">
      <div id="content" class="post"><h1 id="sujet"><a class="header-link" href="#sujet"></a>Sujet</h1>
<p>Modélisation physique de l&#39;écoulement granulaire dans le cadre du Travail d&#39;Initiative Personnelle Encadré.</p>
<h1 id="auteurs"><a class="header-link" href="#auteurs"></a>Auteurs</h1>
<p>Marc Partensky, Valentin Colin</p>
<h1 id="démonstration"><a class="header-link" href="#démonstration"></a>Démonstration</h1>
<p><a href="https://youtu.be/vGtPvrcQGY0"><img src="https://s8.gifyu.com/images/output3c93f8a512f056ad.gif" alt="TIPE Simulation"></a></p>
<h1 id="description"><a class="header-link" href="#description"></a>Description</h1>
<p>Ce projet porte sur l&#39;étude de l&#39;écoulement de grains de sables
et la simulation d&#39;un tel phénomène dans un cadre informatique
à l&#39;aide de la libraire graphique OpenGL.</p>
      </div>
    </div>

    <div class="clear">
    </div>

    <div id="footer">
    </div>
  </div>
</body>
</html>
