{% load static %}
        <script src="{% static 'home/assets/vendor/jquery/jquery.min.js'%}"></script>
        <link href="{% static 'home/assets/img/white-orchid.svg' %}" rel="icon">
        <link href="{% static 'home/assets/img/black-orchid.svg' %}" rel="apple-touch-icon"><!DOCTYPE html>
<html>
  <head>
    <title>Othello / Reversi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'article/assets/css/style-mixu.css' %}"/>
            <link rel="stylesheet" href="{% static 'article/assets/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/pilcrow.css'%}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/hljs-github.min.css' %}"/>
  </head>
<body>

  <div id="toc">
    <div id="toc-inner"><ul class="nav nav-list">
    <li class="sidebar-header-1"><a href="#othello-/-reversi">Othello / Reversi</a></li>
    <li class="sidebar-header-2"><a href="#demonstration">Demonstration</a></li>
    <li class="sidebar-header-2"><a href="#rules">Rules</a></li>
    <li class="sidebar-header-2"><a href="#installation">Installation</a></li>
    <li class="sidebar-header-2"><a href="#usage">Usage</a></li>
    <li class="sidebar-header-2"><a href="#license-mit">License MIT</a></li>
</ul>
    </div>
  </div>

  <div id="wrapper">
    <div id="header">

    </div>

    <div class="clear"></div>
    <div id="main">
      <div id="content" class="post"><h1 id="othello-/-reversi"><a class="header-link" href="#othello-/-reversi"></a>Othello / Reversi</h1>
<h2 id="demonstration"><a class="header-link" href="#demonstration"></a>Demonstration</h2>
<p><a href="https://youtu.be/5tQjwkG4tgo"><img src="https://s8.gifyu.com/images/othello.gif" alt="Watch the video"></a></p>
<h2 id="rules"><a class="header-link" href="#rules"></a>Rules</h2>
<blockquote>
<p>Reversi is a strategy board game for two players, played on an 8×8 uncheckered board. It was invented in 1883. Othello, a variant with a change to the board&#39;s initial setup, was patented in 1971.</p>
</blockquote>
<blockquote>
<p>There are sixty-four identical game pieces called disks (often spelled &quot;discs&quot;), which are light on one side and dark on the other. Players take turns placing disks on the board with their assigned color facing up. During a play, any disks of the opponent&#39;s color that are in a straight line and bounded by the disk just placed and another disk of the current player&#39;s color are turned over to the current player&#39;s color. The object of the game is to have the majority of disks turned to display your color when the last playable empty square is filled.</p>
</blockquote>
<p><cite> <a href="https://en.wikipedia.org/wiki/Reversi">https://en.wikipedia.org/wiki/Reversi</a> </cite></p>
<h2 id="installation"><a class="header-link" href="#installation"></a>Installation</h2>
<pre class="hljs"><code>git <span class="hljs-built_in">clone</span> https://github.com/MarcPartensky/TIPE-P1A
<span class="hljs-built_in">cd</span> TIPE-P1A
pip install -r requirements.txt</code></pre><h2 id="usage"><a class="header-link" href="#usage"></a>Usage</h2>
<p>Directly launch the game and start playing against an AI (named Cyrano)</p>
<pre class="hljs"><code>python __main__.py</code></pre><h2 id="license-mit"><a class="header-link" href="#license-mit"></a>License MIT</h2>
      </div>
    </div>

    <div class="clear">
    </div>

    <div id="footer">
    </div>
  </div>
        <script src="{% static 'home/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'article/assets/js/main.js' %}"></script>
        </body>
</html>
