{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Todolist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'article/assets/css/style-mixu.css' %}"/>
            <link rel="stylesheet" href="{% static 'article/assets/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/pilcrow.css'%}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/hljs-github.min.css' %}"/>
  </head>
<body>

  <div id="toc">
    <div id="toc-inner"><ul class="nav nav-list">
    <li class="sidebar-header-1"><a href="#todolist">Todolist</a></li>
    <li class="sidebar-header-2"><a href="#obligatoire">Obligatoire</a></li>
    <li class="sidebar-header-2"><a href="#tâches">Tâches</a></li>
    <li class="sidebar-header-3"><a href="#site-web">Site Web</a></li>
    <li class="sidebar-header-3"><a href="#promotion">Promotion</a></li>
    <li class="sidebar-header-3"><a href="#autre">Autre</a></li>
    <li class="sidebar-header-2"><a href="#tutoriels">Tutoriels</a></li>
    <li class="sidebar-header-2"><a href="#lectures">Lectures</a></li>
    <li class="sidebar-header-2"><a href="#bonus">Bonus</a></li>
    <li class="sidebar-header-3"><a href="#site">Site</a></li>
    <li class="sidebar-header-2"><a href="#tâche-de-fond">Tâche de fond</a></li>
</ul>
    </div>
  </div>

  <div id="wrapper">
    <div id="header">

    </div>

    <div class="clear"></div>
    <div id="main">
      <div id="content" class="post"><h1 id="todolist"><a class="header-link" href="#todolist"></a>Todolist</h1>
<h2 id="obligatoire"><a class="header-link" href="#obligatoire"></a>Obligatoire</h2>
<ul class="list">
<li>[x] bnp</li>
<li>[ ] chercher des offres sur monster</li>
<li>[ ] appeller la bpi</li>
<li>[ ] améliorer photo sur cvs</li>
<li>[ ] prêt d&#39;honneur</li>
<li>[ ] mail wordpress</li>
</ul>
<h2 id="tâches"><a class="header-link" href="#tâches"></a>Tâches</h2>
<h3 id="site-web"><a class="header-link" href="#site-web"></a>Site Web</h3>
<ul class="list">
<li><p>[ ] make redis database</p>
</li>
<li><p>[ ] curseur de chargement page d&#39;accueil</p>
</li>
<li>[ ] chartre graphique page d&#39;accueil</li>
<li>[ ] ajouter connexion dans la page d&#39;accueil</li>
<li>[ ] ajouter formulaire qui fonctionne sur la page d&#39;accueil</li>
<li>[ ] section liste de projets sur site web dans tel ou tel techno = preuve pour freelancer.com</li>
</ul>
<h3 id="promotion"><a class="header-link" href="#promotion"></a>Promotion</h3>
<ul class="list">
<li>[ ] ajouter spark + aws emr au cv + linkedin + site web</li>
<li>[ ] ajouter déploiement docker de fourier et pygame-geometry</li>
<li>[ ] ajouter docker, tensorflow au cv</li>
<li>[ ] carte de visite <a href="/Volumes/$/Application/Affinity\ Designer.app">affinity designer</a> + <a href="/Volumes/$/Application/Affinity\ Photo.app">affinity photo</a></li>
<li>[ ] bilan de compétences en latex</li>
<li>[ ] version anglaise du CV</li>
</ul>
<h3 id="autre"><a class="header-link" href="#autre"></a>Autre</h3>
<ul class="list">
<li>[ ] compétitions de programmation google kick start?, facebook?</li>
<li>[ ] ctf?</li>
<li>[ ] online liveshare codeshare.live</li>
<li>[ ] créer un compte fiverr</li>
<li>[ ] fusion calendrier et todolist</li>
</ul>
<h2 id="tutoriels"><a class="header-link" href="#tutoriels"></a>Tutoriels</h2>
<ul class="list">
<li>[ ] react native</li>
<li>[ ] rust</li>
<li>[ ] pytorch</li>
<li>[ ] sklearn</li>
<li>[ ] scala</li>
<li>[ ] angular</li>
<li>[ ] développement mobile java</li>
<li>[ ] portail de l&#39;informatique</li>
<li>[ ] 3d kit unity</li>
<li>[ ] go dans go</li>
<li>[ ] .Net</li>
<li>[ ] docker + kubernetes</li>
<li>[ ] latex</li>
<li>[ ] redis</li>
</ul>
<h2 id="lectures"><a class="header-link" href="#lectures"></a>Lectures</h2>
<ul class="list">
<li>[ ] zero to one</li>
<li>[ ] bio Elon Musk</li>
<li>[ ] &quot;Quand la machine apprend&quot; de Yann Le Cun</li>
<li>[ ] manifeste agile</li>
<li>[ ] 87/483 c# .NET</li>
</ul>
<h2 id="bonus"><a class="header-link" href="#bonus"></a>Bonus</h2>
<ul class="list">
<li>[ ] protection des secrets avec mac (ce dont parlait valentin)</li>
<li>[ ] bot discord gestion de rôle automatique + leaderboard + rename avec €</li>
</ul>
<h3 id="site"><a class="header-link" href="#site"></a>Site</h3>
<ul class="list">
<li>[ ] page de cv</li>
<li>[ ] fourier sur page d&#39;accueil</li>
<li>[ ] touch typing + django channels</li>
<li>[ ] afficher la liste des taches sur mon site</li>
</ul>
<h2 id="tâche-de-fond"><a class="header-link" href="#tâche-de-fond"></a>Tâche de fond</h2>
      </div>
    </div>

    <div class="clear">
    </div>

    <div id="footer">
    </div>
  </div>
</body>
</html>
