{% extends "home/base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1> Planning de Marc aujourd'hui </h1>
    </div>
</div>

<div class="container">
    {% for event in events %}
    <div class="well">
        <div class="caption">
            <h3>{{event.title}}</h3>
            <p>De {{event.start}} à {{event.end}}.</p>
            <p>id: {{event.guid}}</p>
        </div>
        <p><a href="#" class="btn btn-primary" role="button">Voir l'évènement</a></p>
    </div>
    {% endfor %}
</div>
{% endblock content%}