#textinput {
    text-align: justify;
    width: 100%;
    font-size: x-large; 
}

#textbox {
    font-size: x-large; 
}


#textboxcontainer {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#card {
    padding: 2rem;
    margin: 3rem;

}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s, transform 0.5s;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
    transform: translateX(20px);
}
