{% load static %}
        <script src="{% static 'home/assets/vendor/jquery/jquery.min.js'%}"></script>
        <link href="{% static 'home/assets/img/white-orchid.svg' %}" rel="icon">
        <link href="{% static 'home/assets/img/black-orchid.svg' %}" rel="apple-touch-icon"><!DOCTYPE html>
<html>
  <head>
    <title>Présentation APP 2020-2021</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'article/assets/css/style-mixu.css' %}"/>
            <link rel="stylesheet" href="{% static 'article/assets/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/pilcrow.css'%}"/>
    <link rel="stylesheet" href="{% static 'article/assets/css/hljs-github.min.css' %}"/>
  </head>
<body>

  <div id="toc">
    <div id="toc-inner"><ul class="nav nav-list">
    <li class="sidebar-header-1"><a href="#présentation-app-2020-2021">Présentation APP 2020-2021</a></li>
    <li class="sidebar-header-2"><a href="#sommaire">Sommaire</a></li>
    <li class="sidebar-header-2"><a href="#contexte">Contexte</a></li>
    <li class="sidebar-header-3"><a href="#mesures-psychotechniques:-des-cas-d&#x27;utilisation-variés">Mesures psychotechniques: des cas d&#x27;utilisation variés</a></li>
    <li class="sidebar-header-3"><a href="#objectif">Objectif</a></li>
    <li class="sidebar-header-3"><a href="#votre-client:">Votre client:</a></li>
    <li class="sidebar-header-3"><a href="#valeur-ajoutée">Valeur ajoutée</a></li>
    <li class="sidebar-header-3"><a href="#vous-et-votre-travail">Vous et votre travail</a></li>
    <li class="sidebar-header-2"><a href="#organisation-de-l&#x27;app">Organisation de l&#x27;APP</a></li>
    <li class="sidebar-header-3"><a href="#détails-sur-l&#x27;évaluation">Détails sur l&#x27;évaluation</a></li>
    <li class="sidebar-header-2"><a href="#moyens-et-livrets">Moyens et livrets</a></li>
    <li class="sidebar-header-3"><a href="#moyens-à-disposition-et-contraintes-pratiques">Moyens à disposition et contraintes pratiques</a></li>
    <li class="sidebar-header-2"><a href="#compétences">Compétences</a></li>
    <li class="sidebar-header-3"><a href="#structure-du-tableau-de-compétences">Structure du tableau de compétences</a></li>
</ul>
    </div>
  </div>

  <div id="wrapper">
    <div id="header">

    </div>

    <div class="clear"></div>
    <div id="main">
      <div id="content" class="post"><h1 id="présentation-app-2020-2021"><a class="header-link" href="#présentation-app-2020-2021"></a>Présentation APP 2020-2021</h1>
<p>zakia kazi-aoul responsable app
alexis brenes 
frederic amiel : responsable de l&#39;électronique</p>
<h2 id="sommaire"><a class="header-link" href="#sommaire"></a>Sommaire</h2>
<ul class="list">
<li>contexte</li>
<li>orgainsation</li>
<li>moyens</li>
<li>...</li>
</ul>
<h2 id="contexte"><a class="header-link" href="#contexte"></a>Contexte</h2>
<p>Etude: 3.9-11.1 trillion per year in 2025</p>
<h3 id="mesures-psychotechniques:-des-cas-d'utilisation-variés"><a class="header-link" href="#mesures-psychotechniques:-des-cas-d'utilisation-variés"></a>Mesures psychotechniques: des cas d&#39;utilisation variés</h3>
<ul class="list">
<li>Principaux cas d&#39;utilisation<ul class="list">
<li>permis standards de conduite</li>
<li>test psychotechniques</li>
<li>recherchers médicales</li>
<li>tests de sélection pour l&#39;armée </li>
</ul>
</li>
<li>Utilisateurs potentiels<ul class="list">
<li>psychologues</li>
<li>centres agréés pour la conduite</li>
<li>centres d&#39;entraînement de pilotes</li>
<li>centres de recherche médicale</li>
</ul>
</li>
</ul>
<h3 id="objectif"><a class="header-link" href="#objectif"></a>Objectif</h3>
<ul class="list">
<li>faire un système complet qui comprends le software et le hardware</li>
<li>faire des mesures</li>
<li>puis l&#39;affichage</li>
</ul>
<h3 id="votre-client:"><a class="header-link" href="#votre-client:"></a>Votre client:</h3>
<ul class="list">
<li>nom infinite measures</li>
<li>installateur de solutions </li>
<li>cherche à concevoir ses propres systèmes</li>
<li>bonne connaissance des besoins des utilisateurs</li>
<li>a des compétences en électrongique, informatique...</li>
<li>a lancé un appel d&#39;offre avec un cahier des charges</li>
</ul>
<h3 id="valeur-ajoutée"><a class="header-link" href="#valeur-ajoutée"></a>Valeur ajoutée</h3>
<ul class="list">
<li>transportabilité</li>
<li>attractif</li>
<li>bon marché</li>
<li>flexible</li>
<li>tout intégré</li>
<li>accessibilité des données</li>
</ul>
<h3 id="vous-et-votre-travail"><a class="header-link" href="#vous-et-votre-travail"></a>Vous et votre travail</h3>
<ul class="list">
<li>qui êtes-vous?<ul class="list">
<li>une start-up récente</li>
</ul>
</li>
<li>votre objectif<ul class="list">
<li>proposer un objectif pour répondre à l&#39;appel d&#39;offre</li>
</ul>
</li>
<li>contraintes de l&#39;appel d&#39;offre</li>
</ul>
<h2 id="organisation-de-l'app"><a class="header-link" href="#organisation-de-l'app"></a>Organisation de l&#39;APP</h2>
<ul class="list">
<li>démarrage 1 semaine</li>
<li>Semestre1
13 semaines info
6 semaines télécommunication
Soutenance de rendu bi-composantes</li>
<li>Semestre 2
13 semaines électronique
13 semaines traitement signal</li>
<li>intégration 2 semaines
Soutenance de rendu (montrer que le système fonctionne de A à Z.</li>
</ul>
<h3 id="détails-sur-l'évaluation"><a class="header-link" href="#détails-sur-l'évaluation"></a>Détails sur l&#39;évaluation</h3>
<ul class="list">
<li><p>tout au long de l&#39;APP</p>
<ul class="list">
<li>soutenances de suivi/rdv client (tuteur de l&#39;autre équipe)</li>
<li>soutenances de rendu<ul class="list">
<li>public visé: chef de projet
(Principale difficulté à anticiper: Adapter le discours au public visé.)</li>
</ul>
</li>
</ul>
</li>
<li><p>examens / qcm individuels / tps notés / observation
avoir plus de 8 dans toutes les compétences</p>
</li>
<li>...</li>
</ul>
<h2 id="moyens-et-livrets"><a class="header-link" href="#moyens-et-livrets"></a>Moyens et livrets</h2>
<h3 id="moyens-à-disposition-et-contraintes-pratiques"><a class="header-link" href="#moyens-à-disposition-et-contraintes-pratiques"></a>Moyens à disposition et contraintes pratiques</h3>
<ul class="list">
<li>boitier mis à disposition avec matériel pour le &quot;hardware&quot;</li>
<li>structure réseaux développés par l&#39;ISEP (trop complexe et long pour A1)</li>
</ul>
<p><em>carte</em> &lt;=&gt; file d&#39;attente &lt;=&gt; log &lt;=&gt; <em>systèmes informatique</em>
documents sur moodle</p>
<h2 id="compétences"><a class="header-link" href="#compétences"></a>Compétences</h2>
<h3 id="structure-du-tableau-de-compétences"><a class="header-link" href="#structure-du-tableau-de-compétences"></a>Structure du tableau de compétences</h3>
<ul class="list">
<li>Tableau divisé en compétences soit transverses soit spécifiques par composante<ul class="list">
<li>générales électronique et signal
spécifiquees électroniques spécifiques signal
général informatique et télécom
spécifiques informatique
spécifiques télécom</li>
</ul>
</li>
<li>Compétences subdivisées en sous-compétences évaluées par items en:
non-acquis, loin, proche, très proche, attendu, au-delà</li>
</ul>
<p><strong>Note finale individuelle: compilation des évaluations de chacune des compétences</strong></p>
<p>On a un <strong>tableau de compétences</strong> (évalué régulièrement)
(on peut régresser dans une compétence)</p>
<p>vendredi: 1e soutenance de suivi (15 min)</p>
<ul class="list">
<li>nom et logo de start-up</li>
<li>clients visés en priorité et cas d&#39;utilisation</li>
<li>sélection des fonctions visées</li>
<li>1e réflexion sur points faciles/difficiles</li>
<li>faire power point
ne pas hésitez à <strong>&quot;brainstormer&quot;</strong>
pas là =&gt; moins de points</li>
</ul>
      </div>
    </div>

    <div class="clear">
    </div>

    <div id="footer">
    </div>
  </div>
        <script src="{% static 'home/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'article/assets/js/main.js' %}"></script>
        </body>
</html>
