{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Pygame-geometry-test1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="{% static 'home/assets/img/white-orchid.svg' %}" rel="icon">
    <link href="{% static 'home/assets/img/black-orchid.svg' %}" rel="apple-touch-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'article/cache/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'article/cache/css/pilcrow.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'article/cache/css/hljs-github.min.css' %}" />
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  </head>
<body>
<div class="content"><h1 id="description"><a class="header-link" href="#description"></a>Description</h1>
<p>This is a framework based on pygame that allows an easier process for making games. This is so much more than a tool kit.
Tested in pygame2 not in pygame1.</p>
<h1 id="installation"><a class="header-link" href="#installation"></a>Installation</h1>
<pre class="hljs"><code>pip install pygame-geometry</code></pre><h1 id="quick-examples:"><a class="header-link" href="#quick-examples:"></a>Quick examples:</h1>
<h1 id="draw-some-moving-points-and-a-circle"><a class="header-link" href="#draw-some-moving-points-and-a-circle"></a>Draw some moving Points and a Circle</h1>
<pre class="hljs"><code><span class="hljs-keyword">from</span> pygame_geometry.abstract <span class="hljs-keyword">import</span> Point, Circle
<span class="hljs-keyword">from</span> pygame_geometry.context <span class="hljs-keyword">import</span> Context
<span class="hljs-keyword">from</span> pygame_geometry <span class="hljs-keyword">import</span> colors

context = Context(name=<span class="hljs-string">"title"</span>) <span class="hljs-comment"># create a context similar to a pygame surface</span>

p1 = Point(<span class="hljs-number">2</span>,<span class="hljs-number">2</span>)
p2 = Point(<span class="hljs-number">3</span>,<span class="hljs-number">2</span>, color=colors.BLUE)
c = Circle(<span class="hljs-number">0</span>, <span class="hljs-number">-1</span>, radius=<span class="hljs-number">2</span>, color=colors.RED)

<span class="hljs-comment"># main game loop</span>
<span class="hljs-keyword">while</span> context.open:
    <span class="hljs-comment"># clear the window</span>
    context.clear()
    <span class="hljs-comment"># check quit event (empty pygame event buffer by doing so)</span>
    context.check()
    <span class="hljs-comment"># move and zoom around the scene</span>
    context.control()

    <span class="hljs-comment"># update objects</span>
    p1.rotate(<span class="hljs-number">0.01</span>, p2)
    c.x += <span class="hljs-number">0.01</span>

    <span class="hljs-comment"># show objects</span>
    p1.show(context)
    p2.show(context)
    c.show(context)

    <span class="hljs-comment"># flip the screen</span>
    context.flip()</code></pre><p><a href="https://www.youtube.com/watch?v=2PInBSgEUq8"><img src="https://media.giphy.com/media/KfN5xs8RPlYfOf9h2W/giphy.gif" alt="Watch the video"></a></p>
<h1 id="draw-bezier-curves"><a class="header-link" href="#draw-bezier-curves"></a>Draw Bezier Curves</h1>
<pre class="hljs"><code><span class="hljs-keyword">from</span> pygame_geometry.context <span class="hljs-keyword">import</span> Surface
<span class="hljs-keyword">from</span> pygame_geometry.curves <span class="hljs-keyword">import</span> Trajectory, BezierCurve
<span class="hljs-keyword">from</span> pygame_geometry.abstract <span class="hljs-keyword">import</span> Point
<span class="hljs-keyword">from</span> pygame_geometry <span class="hljs-keyword">import</span> colors

<span class="hljs-keyword">import</span> random

<span class="hljs-comment"># create objects</span>
surface=Surface(name=<span class="hljs-string">"Curves demonstration"</span>)
l=<span class="hljs-number">10</span>
points=[Point(<span class="hljs-number">2</span>*x,random.randint(<span class="hljs-number">-5</span>,<span class="hljs-number">5</span>)) <span class="hljs-keyword">for</span> x <span class="hljs-keyword">in</span> range(l)]
t=Trajectory(points,segment_color=colors.GREEN)
b=BezierCurve(points,segment_color=colors.RED)
n=<span class="hljs-number">0</span>
ncp=<span class="hljs-number">50</span> <span class="hljs-comment">#number construction points</span>

<span class="hljs-keyword">while</span> surface.open:
    <span class="hljs-comment"># surface stuff</span>
    surface.check()
    surface.clear()
    surface.control()
    surface.show() <span class="hljs-comment"># show a math grid in background</span>

    <span class="hljs-comment"># update</span>
    Point.turnPoints([<span class="hljs-number">1</span>/<span class="hljs-number">1000</span> <span class="hljs-keyword">for</span> i <span class="hljs-keyword">in</span> range(l)],points)
    n=(n+<span class="hljs-number">1</span>)%(ncp+<span class="hljs-number">1</span>)
    b.showConstruction(surface,n/ncp)
    p1=b(n/ncp)
    p2=Point(*t(n/ncp))

    <span class="hljs-comment"># show</span>
    t.show(surface)
    b.show(surface)
    p1.show(surface,color=colors.YELLOW,radius=<span class="hljs-number">0.1</span>,fill=<span class="hljs-keyword">True</span>)
    p2.show(surface,color=colors.YELLOW,radius=<span class="hljs-number">0.1</span>,fill=<span class="hljs-keyword">True</span>)

    <span class="hljs-comment"># flip</span>
    surface.flip()</code></pre><p><a href="https://www.youtube.com/watch?v=ffTXqMtSfTk"><img src="https://media.giphy.com/media/L1F6advUQQUaAF1zj4/giphy.gif" alt="Watch the video"></a></p>
<h1 id="controls"><a class="header-link" href="#controls"></a>Controls</h1>
<ul class="list">
<li>Space: Switch to next mode.</li>
<li>Enter: Go back to the center.</li>
<li>Up/Down/Right/Left Arrow: Move arround.</li>
<li>Right/Left Shift: Zoom in or out.</li>
<li>Quit/Escape: Quit.</li>
</ul>
<h1 id="geometry-objects"><a class="header-link" href="#geometry-objects"></a>Geometry objects</h1>
<p>Geometry components added:</p>
<ul class="list">
<li>point</li>
<li>segment</li>
<li>vector</li>
<li>line</li>
<li>halfline</li>
</ul>
<p>But also:</p>
<ul class="list">
<li>circle</li>
<li>rectangle</li>
<li>square</li>
<li>polygon</li>
<li>triangle</li>
<li>bezier curve</li>
<li>trajectory</li>
</ul>
<h1 id="physics/maths-objects"><a class="header-link" href="#physics/maths-objects"></a>Physics/Maths objects</h1>
<ul class="list">
<li>force</li>
<li>motion</li>
<li>body</li>
<li>polynomial</li>
<li>perlin noise</li>
</ul>
<h1 id="game-objects"><a class="header-link" href="#game-objects"></a>Game objects</h1>
<ul class="list">
<li>entity</li>
<li>anatomy</li>
<li>widget</li>
<li>menu</li>
<li>manager</li>
</ul>
<h1 id="more-technical-physics-objects"><a class="header-link" href="#more-technical-physics-objects"></a>More technical physics objects</h1>
<ul class="list">
<li>material</li>
<li>material form</li>
<li>material circle</li>
<li>material formcollider</li>
</ul>
<h1 id="enjoy!"><a class="header-link" href="#enjoy!"></a>Enjoy!</h1>
</div>
    <script src="{% static 'home/assets/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'home/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'article/assets/js/main.js' %}"></script>
</body>
</html>
