{% load static %}<!DOCTYPE html>
<html>
    <head>
        <title>Tdm3-r</title>
        <link href="{% static 'home/assets/img/white-orchid.svg' %}" rel="icon">
        <link href="{% static 'home/assets/img/black-orchid.svg' %}" rel="apple-touch-icon">
        <link href="{% static 'article/assets/css/main.css' %}" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link type="text/css" rel="stylesheet" href="{% static 'article/marc/css/style-mixu.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'article/marc/css/style.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'article/marc/css/pilcrow.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'article/marc/css/hljs-github.min.css' %}"/>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        </head>
    <body>
      <div id="toc">
        <div id="toc-inner">
        <a class="back" class="container" href="{% url 'article' %}"><p>Back to articles</p></a><div class="fade_rule"></div><ul class="nav nav-list">
    <li class="sidebar-header-1"><a href="#i)-statistiques-descriptive">I) Statistiques descriptive</a></li>
    <li class="sidebar-header-2"><a href="#exercice-0">Exercice 0</a></li>
    <li class="sidebar-header-2"><a href="#exercice-1">Exercice 1</a></li>
    <li class="sidebar-header-3"><a href="#1)">1)</a></li>
    <li class="sidebar-header-3"><a href="#2)">2)</a></li>
    <li class="sidebar-header-3"><a href="#3)">3)</a></li>
    <li class="sidebar-header-2"><a href="#exercice-2">Exercice 2</a></li>
    <li class="sidebar-header-3"><a href="#1)-1">1)</a></li>
    <li class="sidebar-header-3"><a href="#2)-1">2)</a></li>
    <li class="sidebar-header-2"><a href="#exercice-3">Exercice 3</a></li>
    <li class="sidebar-header-3"><a href="#1)-2">1)</a></li>
    <li class="sidebar-header-2"><a href="#exercice-4">Exercice 4</a></li>
    <li class="sidebar-header-1"><a href="#ii)-variable-qualitative">II) Variable Qualitative</a></li>
    <li class="sidebar-header-2"><a href="#exercice-5">Exercice 5</a></li>
    <li class="sidebar-header-2"><a href="#exercice-6">Exercice 6</a></li>
    <li class="sidebar-header-2"><a href="#exercice-7">Exercice 7</a></li>
    <li class="sidebar-header-3"><a href="#1)-3">1)</a></li>
    <li class="sidebar-header-3"><a href="#2)-2">2)</a></li>
    <li class="sidebar-header-3"><a href="#3)-1">3)</a></li>
</ul>
        </div>
      </div>

      <div id="wrapper">
        <div id="header">

        </div>

        <div class="clear"></div>
        <div id="main">
          <div id="content" class="post"><blockquote>
<p>#!/usr/bin/env Rscript</p>
</blockquote>
<h1 id="i)-statistiques-descriptive"><a class="header-link" href="#i)-statistiques-descriptive"></a>I) Statistiques descriptive</h1>
<h2 id="exercice-0"><a class="header-link" href="#exercice-0"></a>Exercice 0</h2>
<pre class="hljs"><code>cats &lt;- read.table(file=<span class="hljs-string">"cats.txt"</span>, sep=<span class="hljs-string">" "</span>, header=<span class="hljs-literal">T</span>)
names(cats)
nrow(cats)</code></pre><h2 id="exercice-1"><a class="header-link" href="#exercice-1"></a>Exercice 1</h2>
<h3 id="1)"><a class="header-link" href="#1)"></a>1)</h3>
<pre class="hljs"><code>names(cats)</code></pre><h3 id="2)"><a class="header-link" href="#2)"></a>2)</h3>
<pre class="hljs"><code>length(cats)</code></pre><h3 id="3)"><a class="header-link" href="#3)"></a>3)</h3>
<pre class="hljs"><code>cats[<span class="hljs-number">1</span>:<span class="hljs-number">10</span>,]
<span class="hljs-keyword">attach</span>(cats)</code></pre><h2 id="exercice-2"><a class="header-link" href="#exercice-2"></a>Exercice 2</h2>
<h3 id="1)-1"><a class="header-link" href="#1)-1"></a>1)</h3>
<pre class="hljs"><code>mean(Bwt)
quantile(Bwt, <span class="hljs-number">0.5</span>)
quantile(Bwt, <span class="hljs-number">0.25</span>)
quantile(Bwt, <span class="hljs-number">0.5</span>)
quantile(Bwt, <span class="hljs-number">0.75</span>)
var(Bwt)
sd(Bwt)
diff(range(Bwt))
IQR(Bwt)</code></pre><h3 id="2)-1"><a class="header-link" href="#2)-1"></a>2)</h3>
<pre class="hljs"><code>summary(cats)</code></pre><h2 id="exercice-3"><a class="header-link" href="#exercice-3"></a>Exercice 3</h2>
<h3 id="1)-2"><a class="header-link" href="#1)-2"></a>1)</h3>
<pre class="hljs"><code>boxplot(Hwt, Bwt)
boxplot(Bwt, Hwt)

hist(Bwt, breaks=<span class="hljs-number">10</span>)
hist(Hwt, breaks=<span class="hljs-number">10</span>, col=<span class="hljs-string">"green"</span>)

par(mfrow=c(<span class="hljs-number">1</span>,<span class="hljs-number">1</span>))
boxplot(Bwt)
boxplot(Bwt, Hwt)</code></pre><h2 id="exercice-4"><a class="header-link" href="#exercice-4"></a>Exercice 4</h2>
<pre class="hljs"><code>histo = hist(Bwt)
histo$counts</code></pre><h1 id="ii)-variable-qualitative"><a class="header-link" href="#ii)-variable-qualitative"></a>II) Variable Qualitative</h1>
<pre class="hljs"><code>class(Sex)
levels(Sex)</code></pre><h2 id="exercice-5"><a class="header-link" href="#exercice-5"></a>Exercice 5</h2>
<pre class="hljs"><code>table(Sex)
prop &lt;- table(Sex)/length(Sex)
barplot(prop)
plot(prop)
pie(prop)

boxplot(var.num ~ var.facteur)</code></pre><h2 id="exercice-6"><a class="header-link" href="#exercice-6"></a>Exercice 6</h2>
<pre class="hljs"><code>boxplot(Bwt ~ Sex)
boxplot(Hwt ~ Sex)</code></pre><h2 id="exercice-7"><a class="header-link" href="#exercice-7"></a>Exercice 7</h2>
<h3 id="1)-3"><a class="header-link" href="#1)-3"></a>1)</h3>
<pre class="hljs"><code>plot(Bwt, Hwt)</code></pre><h3 id="2)-2"><a class="header-link" href="#2)-2"></a>2)</h3>
<pre class="hljs"><code>cov(Bwt, Hwt)
cor(Bwt, Hwt)</code></pre><h3 id="3)-1"><a class="header-link" href="#3)-1"></a>3)</h3>
<pre class="hljs"><code>plot(Hwt, Bwt)</code></pre>          </div>
        </div>

        <div class="clear">
        </div>

        <div id="footer">
        </div>
      </div>
    <script src="{% static 'home/assets/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'home/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'article/assets/js/main.js' %}"></script>
    </body>
</html>
