{% load static %}<!DOCTYPE html>
<html>
    <head>
        <title>Telecom4</title>
        <link href="{% static 'home/assets/img/white-orchid.svg' %}" rel="icon">
        <link href="{% static 'home/assets/img/black-orchid.svg' %}" rel="apple-touch-icon">
        <link href="{% static 'article/assets/css/main.css' %}" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link type="text/css" rel="stylesheet" href="{% static 'article/marc/css/style-mixu.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'article/marc/css/style.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'article/marc/css/pilcrow.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'article/marc/css/hljs-github.min.css' %}"/>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        </head>
    <body>
      <div id="toc">
        <div id="toc-inner">
        <a class="back" class="container" href="{% url 'article' %}"><p>Back to articles</p></a><div class="fade_rule"></div><ul class="nav nav-list">
    <li class="sidebar-header-1"><a href="#cours-présentiel">Cours présentiel</a></li>
    <li class="sidebar-header-2"><a href="#question-clés">Question clés</a></li>
</ul>
        </div>
      </div>

      <div id="wrapper">
        <div id="header">

        </div>

        <div class="clear"></div>
        <div id="main">
          <div id="content" class="post"><h1 id="cours-présentiel"><a class="header-link" href="#cours-présentiel"></a>Cours présentiel</h1>
<p>FT3-1-1-4
35 cartes électroniques</p>
<p>passerelle centrale (isep)</p>
<ul class="list">
<li>passerelle<ul class="list">
<li>carte électronique</li>
<li>carte électronique</li>
<li>...</li>
</ul>
</li>
<li>passerelle</li>
</ul>
<h2 id="question-clés"><a class="header-link" href="#question-clés"></a>Question clés</h2>
<ul class="list">
<li>Combien de carte éleectronique peut-on déployer par passerelle locale</li>
</ul>
          </div>
        </div>

        <div class="clear">
        </div>

        <div id="footer">
        </div>
      </div>
    <script src="{% static 'home/assets/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'home/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'article/assets/js/main.js' %}"></script>
    </body>
<a href="#" class="back-to-top" style="display: inline;         position:fixed; right:15px; bottom:15px; z-index:99999;">         <i style="display: flex; align-items: center; justify-content: center;         font-size: 24px; width: 40px; height: 40px; border-radius: 4px;         background: #7cc576; color: #fff; transition: all 0.4s;"         class="icofont-simple-up"></i></a>
</html>
