{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Tipep2b</title>
        <link href="{% static 'home/assets/img/white-orchid.svg' %}" rel="icon">
        <link href="{% static 'home/assets/img/black-orchid.svg' %}" rel="apple-touch-icon">
        <link href="{% static 'article/assets/css/main.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'article/github/css/github-markdown.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'article/github/css/pilcrow.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'article/github/css/hljs-github.min.css' %}"/>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        </head>
  <body>
        <div style="clear: both;">
            <div style="float: left">
                {{ like_count }}
                <span class="iconify" data-icon="fluent-thumb-like-16-regular" data-inline="false"></span>
                {{ dislike_count }}
                <span class="iconify" data-icon="fluent:thumb-dislike-24-regular"data-inline="false"></span>
                <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
                {{ view_count }}
                <span class="iconify" data-icon="carbon:view" data-inline="false"></span>
            </div>
            <div style="float: right">
                <small style="text-align: right">{{ created }}</small>
                {% if update_count > 0 %}
                <small> modified </small>
                {% endif %}
            </div>
        </div>
        
    <article class="markdown-body"><h1 id="sujet"><a class="header-link" href="#sujet"></a>Sujet</h1>
<p>Modélisation physique de l&#39;écoulement granulaire dans le cadre du Travail d&#39;Initiative Personnelle Encadré.</p>
<h1 id="auteurs"><a class="header-link" href="#auteurs"></a>Auteurs</h1>
<p>Marc Partensky, Valentin Colin</p>
<h1 id="démonstration"><a class="header-link" href="#démonstration"></a>Démonstration</h1>
<p><a href="https://youtu.be/vGtPvrcQGY0"><img src="https://s8.gifyu.com/images/output3c93f8a512f056ad.gif" alt="TIPE Simulation"></a></p>
<h1 id="description"><a class="header-link" href="#description"></a>Description</h1>
<p>Ce projet porte sur l&#39;étude de l&#39;écoulement de grains de sables
et la simulation d&#39;un tel phénomène dans un cadre informatique
à l&#39;aide de la libraire graphique OpenGL.</p>
    </article>
  <script src="{% static 'home/assets/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'home/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'article/assets/js/main.js' %}"></script>
    </body>
<a href="#" class="back-to-top" style="display: inline;         position:fixed; right:15px; bottom:15px; z-index:99999;">         <i style="display: flex; align-items: center; justify-content: center;         font-size: 24px; width: 40px; height: 40px; border-radius: 4px;         background: #7cc576; color: #fff; transition: all 0.4s;"         class="icofont-simple-up"></i></a>
</html>
