{% load static %}<!DOCTYPE html>
<html>
    <head>
        <title>Todolist</title>
        <link href="{% static 'home/assets/img/white-orchid.svg' %}" rel="icon">
        <link href="{% static 'home/assets/img/black-orchid.svg' %}" rel="apple-touch-icon">
        <link href="{% static 'article/assets/css/main.css' %}" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link type="text/css" rel="stylesheet" href="{% static 'article/marc/css/style-mixu.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'article/marc/css/style.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'article/marc/css/pilcrow.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'article/marc/css/hljs-github.min.css' %}"/>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        </head>
    <body>
      <div id="toc">
        <div id="toc-inner">
        <a class="back" class="container" href="{% url 'article' %}"><p>Back to articles</p></a><div class="fade_rule"></div><ul class="nav nav-list">
    <li class="sidebar-header-1"><a href="#todolist">Todolist</a></li>
    <li class="sidebar-header-2"><a href="#obligatoire">Obligatoire</a></li>
    <li class="sidebar-header-2"><a href="#tâches">Tâches</a></li>
    <li class="sidebar-header-3"><a href="#site-web">Site Web</a></li>
    <li class="sidebar-header-3"><a href="#promotion">Promotion</a></li>
    <li class="sidebar-header-3"><a href="#autre">Autre</a></li>
    <li class="sidebar-header-2"><a href="#tutoriels">Tutoriels</a></li>
    <li class="sidebar-header-2"><a href="#lectures">Lectures</a></li>
    <li class="sidebar-header-2"><a href="#bonus">Bonus</a></li>
    <li class="sidebar-header-3"><a href="#site">Site</a></li>
    <li class="sidebar-header-2"><a href="#tâche-de-fond">Tâche de fond</a></li>
</ul>
        </div>
      </div>

      <div id="wrapper">
        <div id="header">

        </div>

        <div class="clear"></div>
        <div id="main">
          <div id="content" class="post"><h1 id="todolist"><a class="header-link" href="#todolist"></a>Todolist</h1>
<h2 id="obligatoire"><a class="header-link" href="#obligatoire"></a>Obligatoire</h2>
<ul class="list">
<li><input type="checkbox" checked=""> bnp</li>
<li><input type="checkbox"> chercher des offres sur monster</li>
<li><input type="checkbox"> appeller la bpi</li>
<li><input type="checkbox"> améliorer photo sur cvs</li>
<li><input type="checkbox"> prêt d&#39;honneur</li>
<li><input type="checkbox"> mail wordpress</li>
</ul>
<h2 id="tâches"><a class="header-link" href="#tâches"></a>Tâches</h2>
<h3 id="site-web"><a class="header-link" href="#site-web"></a>Site Web</h3>
<ul class="list">
<li><p><input type="checkbox"> make redis database</p>
</li>
<li><p><input type="checkbox"> curseur de chargement page d&#39;accueil</p>
</li>
<li><input type="checkbox"> chartre graphique page d&#39;accueil</li>
<li><input type="checkbox"> ajouter connexion dans la page d&#39;accueil</li>
<li><input type="checkbox"> ajouter formulaire qui fonctionne sur la page d&#39;accueil</li>
<li><input type="checkbox"> section liste de projets sur site web dans tel ou tel techno = preuve pour freelancer.com</li>
</ul>
<h3 id="promotion"><a class="header-link" href="#promotion"></a>Promotion</h3>
<ul class="list">
<li><input type="checkbox"> ajouter spark + aws emr au cv + linkedin + site web</li>
<li><input type="checkbox"> ajouter déploiement docker de fourier et pygame-geometry</li>
<li><input type="checkbox"> ajouter docker, tensorflow au cv</li>
<li><input type="checkbox"> carte de visite <a href="/Volumes/$/Application/Affinity\ Designer.app">affinity designer</a> + <a href="/Volumes/$/Application/Affinity\ Photo.app">affinity photo</a></li>
<li><input type="checkbox"> bilan de compétences en latex</li>
<li><input type="checkbox"> version anglaise du CV</li>
</ul>
<h3 id="autre"><a class="header-link" href="#autre"></a>Autre</h3>
<ul class="list">
<li><input type="checkbox"> compétitions de programmation google kick start?, facebook?</li>
<li><input type="checkbox"> ctf?</li>
<li><input type="checkbox"> online liveshare codeshare.live</li>
<li><input type="checkbox"> créer un compte fiverr</li>
<li><input type="checkbox"> fusion calendrier et todolist</li>
</ul>
<h2 id="tutoriels"><a class="header-link" href="#tutoriels"></a>Tutoriels</h2>
<ul class="list">
<li><input type="checkbox"> react native</li>
<li><input type="checkbox"> rust</li>
<li><input type="checkbox"> pytorch</li>
<li><input type="checkbox"> sklearn</li>
<li><input type="checkbox"> scala</li>
<li><input type="checkbox"> angular</li>
<li><input type="checkbox"> développement mobile java</li>
<li><input type="checkbox"> portail de l&#39;informatique</li>
<li><input type="checkbox"> 3d kit unity</li>
<li><input type="checkbox"> go dans go</li>
<li><input type="checkbox"> .Net</li>
<li><input type="checkbox"> docker + kubernetes</li>
<li><input type="checkbox"> latex</li>
<li><input type="checkbox"> redis</li>
</ul>
<h2 id="lectures"><a class="header-link" href="#lectures"></a>Lectures</h2>
<ul class="list">
<li><input type="checkbox"> zero to one</li>
<li><input type="checkbox"> bio Elon Musk</li>
<li><input type="checkbox"> &quot;Quand la machine apprend&quot; de Yann Le Cun</li>
<li><input type="checkbox"> manifeste agile</li>
<li><input type="checkbox"> 87/483 c# .NET</li>
</ul>
<h2 id="bonus"><a class="header-link" href="#bonus"></a>Bonus</h2>
<ul class="list">
<li><input type="checkbox"> protection des secrets avec mac (ce dont parlait valentin)</li>
<li><input type="checkbox"> bot discord gestion de rôle automatique + leaderboard + rename avec €</li>
</ul>
<h3 id="site"><a class="header-link" href="#site"></a>Site</h3>
<ul class="list">
<li><input type="checkbox"> page de cv</li>
<li><input type="checkbox"> fourier sur page d&#39;accueil</li>
<li><input type="checkbox"> touch typing + django channels</li>
<li><input type="checkbox"> afficher la liste des taches sur mon site</li>
</ul>
<h2 id="tâche-de-fond"><a class="header-link" href="#tâche-de-fond"></a>Tâche de fond</h2>
          </div>
        </div>

        <div class="clear">
        </div>

        <div id="footer">
        </div>
      </div>
    <script src="{% static 'home/assets/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'home/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'article/assets/js/main.js' %}"></script>
    </body>
<a href="#" class="back-to-top" style="display: inline;         position:fixed; right:15px; bottom:15px; z-index:99999;">         <i style="display: flex; align-items: center; justify-content: center;         font-size: 24px; width: 40px; height: 40px; border-radius: 4px;         background: #7cc576; color: #fff; transition: all 0.4s;"         class="icofont-simple-up"></i></a>
</html>
