{% extends "layout/home.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1> Demos </h1>
    </div>
</div>

<div class="container">
    <div class="card">
        <h2> Pixel Art Editor</h2>
        <p> An editor for making pixel art. Since I need to pixel art pictures for my expanse game.
        I made this editor from scratch for making it easier to make my sprites.</p>
        <!--<img src="https://cdn.discordapp.com/attachments/702863598761803806/752885931547033700/pixel-art_editor_thumbnail_copy.png">-->
        <iframe src="{% url 'pixel-art' %}">
    </div>
</div>

<!-- Lines -->
<div class="container">
    {% for project in projects %}
    <div class="well hidden-sm hidden-md hidden-lg">
        <div class="caption">
            <h3>{{project.title}}</h3>
            <p>{{project.content}}</p>
        </div>
        <!--<p><a href="#" class="btn btn-primary" role="button">My favorite project</a></p>-->
    </div>
    {% endfor %}
</div>
{% endblock content %}
