<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
</head>
<body>
<script>
const session = { token: undefined }
$('body').terminal({
    hello: function() {
        this.echo('Hi! Welcome to this terminal.')
    },
    cat: function() {
        const n = Math.floor(500*Math.random())
        this.echo($('<img src="https://placekitten.com/'+n+'/287">'));
    },
    echo: function(args) {
        this.echo(args)
    },
    man: function(cmd) {
        $.get(`/demo/cheat/${cmd}`, function(data) {
            this.echo(data)
        }.bind(this))
    }
/*    login: function(args) {
        this.echo(`Trying to login as: ${args[0]}`)
        $.post('/api/login', {login: args[0], password}, function(data, status) {
            session.token = data.token
            this.echo('Successfuly logged in!')
            this.echo(status)
        })
    },
    python: function(args) {
        $.get('/api/')

    }*/
},
{
    greetings: 'Welcome to the terminal of Marc Partensky'
});
</script>

</body>
</html>
