{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="padding: 1rem">
  <div class="card">
    <div class="content-section" style="margin: 2rem">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Game Post </legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit"> Sign Up </button>
	</div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
