<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
</head>
<body>
<script>
$('body').terminal({
    hello: function() {
        this.echo('Hi! Welcome to this terminal.')
    },
    cat: function() {
        const n = Math.floor(500*Math.random())
        this.echo($('<img src="https://placekitten.com/'+n+'/287">'));
    },
    echo: function(args) {
        this.echo(args)
    }
},
{
    greetings: 'Welcome to the terminal of Marc Partensky'
});
</script>

</body>
</html>
