{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- ======= Head ======= -->
<head>
{% include 'include/head.html' %}
</head>

  <!-- ======= End Head ======= -->
<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
        <a href="/" class="hero-logo"><img id="firstorchid" style="width: 40%; height: 40%" src="{% static 'home/assets/img/white-orchid.svg' %}" alt="orchid-icon"></a>
      <h1 data-aos="zoom-in">Welcome to the Website of Marc Partensky</h1>
      <h2 data-aos="fade-up">
        I'm a <span class="typed" data-typed-items="Developer, Freelancer, Game Maker, Student"></span>
      </h2>
      <a data-aos="fade-up" href="#about" class="btn-get-started scrollto">More about me</a>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
	{% include 'include/header.html' %}
  <!-- End Header -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Me</h2>
          <p>Learning everyday because life is too short to waste any.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <a href="https://i.ibb.co/MNYfS8T/marc-on-top.jpg">
                <div class="image">
									<img style="width: 100%; height: 100%" src="{% static 'home/assets/img/marc-on-top.jpg' %}" alt="marc-on-top"></img>
                    <cite>Paris, France - August 2021</cite>
                </div>
            </a>
          </div>
          <div class="col-lg-6" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <h3>My name is Marc Partensky.</h3>
              <p class="font-italic">
							I am {{ marc_age }} years old and I study at <a href="https://www.isep.fr/">ISEP</a>.
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i> Actively looking for a job in DevOps and Data </li>
                <li><i class="bx bx-check-double"></i> Hyperactive on Github </li>
                <li><i class="bx bx-check-double"></i> 5 certificates in Deep learning </li>
                <li><i class="bx bx-check-double"></i> Fluent in English </li>
              </ul>
              <p style="text-align: justify; text-justify: inter-word">
              After 3 years of professional experience as an Junior Developer at Pickup Services and then as a Data Analyst at BNP Paribas, and as a former student at ISEP in
              apprenticeship. I am seeking a permanent position in the field of artificial intelligence, application development or Devops. My professional
              profile is backed by a strong experience in projects available on <a href="https://github.com/MarcPartensky">Github</a> and my personal 
              <a href="https://marcpartensky.com">website</a>. Passionate about DevOps, I am committed to bringing my skills and creativity to a stimulating professional
              environment.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in">
            <span class="iconify icon-language" data-icon="logos:python" data-inline="false"></span>
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="100">
            <i class="devicon-c-plain colored icon-language"></i>
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="200">
            <span class="iconify icon-language" data-icon="cib:unity" data-inline="false"></span>
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="300">
            <span class="iconify icon-language" data-icon="logos:java" data-inline="false"></span>
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="400">
            <span class="iconify icon-language" data-icon="logos:javascript" data-inline="false"></span>
          </div>

          <div class="col-lg-2 col-md-4 col-6" data-aos="zoom-in" data-aos-delay="500">
            <i class="devicon-php-plain colored icon-language"></i>
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="skills" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Skills</h2>
          <p>Over the years, I developed a lots of programming skills by myself out of passion.</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4>Machine learning</h4>
              <p>Owner of 5 certificates in deep learning, expert in python, knowledge of Tensorflow, Keras, Numpy, Matplotlib, familiar with R</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-cube-alt"></i>
              <h4>Web development</h4>
              <p>Development of this website from scratch in Django (python framework), proficient in NodeJS and Express, knowledge of Vue and React, big fan of MongoDB over MySQL and PostgreSQL, familiar with Sass, extensive use of Bootstrap, grasp of Elasticsearch.</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-images"></i>
              <h4>Game creation</h4>
              <p>Made a 3D game in Unity called Retro Cube, Made multiple game for browser such as SpaceInvader, Connect4, Asteroids, grasp of WebGL and Babylon, Founder of the Pygame-Geometry and Fourier-Drawing libraries on Pypi</p>
            </div>
            <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-shield"></i>
              <h4>Networking and Cyber security</h4>
              <p>Knowledge of all basics protocols and ports, TCP/IP and OSI models, deep understanding of Unix like systems, aware of MITM, XSS, DDOS, SQL injection attacks, familiar with Postman and Curl, grasp of Wireshark and Nmap</p>
            </div>
          </div>

            <div class="embed-responsive embed-responsive-1by1 image col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <iframe loading="lazy" class="embed-responsive-item" src="{% static 'cv/cv.pdf' %}" type="application/pdf" allowfullscreen></iframe>
            </div>
        </div>

      </div>
    </section><!-- End Services Section -->


    <section class="counts section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Github activity</h2>
        </div>

        <div width="100%" data-aos="fade-up">
          <div class="count-box">
            <img width="100%" src="http://ghchart.rshah.org/marcpartensky" alt="Marc Partensky's Github chart" />
          </div>
        </div>
        <!---->
        <!-- <div class="row"> -->
        <!---->
        <!--   <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up"> -->
        <!--     <div class="count-box"> -->
        <!--       <i class="icofont-users-alt-5" style="color: #20b38e;"></i> -->
        <!--       <span data-toggle="counter-up" >{{ github_followers }}</span> -->
        <!--       <p>Followers</p> -->
        <!--     </div> -->
        <!--   </div> -->
        <!---->
        <!--   <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200"> -->
        <!--     <div class="count-box"> -->
        <!--       <i class="icofont-server" style="color: #c042ff;"></i> -->
        <!--       <span data-toggle="counter-up" >{{ github_repos_number }}</span> -->
        <!--       <p>Repositories</p> -->
        <!--     </div> -->
        <!--   </div> -->
        <!---->
        <!--   <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400"> -->
        <!--     <div class="count-box"> -->
        <!--       <i class="icofont-pie-chart" style="color: #46d1ff;"></i> -->
        <!--       <span data-toggle="counter-up" >{{ github_year_commits }}</span> -->
        <!--       <p>Commits this year</p> -->
        <!--     </div> -->
        <!--   </div> -->
        <!---->
        <!--   <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600"> -->
        <!--     <div class="count-box"> -->
        <!--       <i class="icofont-space-shuttle" style="color: #ffb459;"></i> -->
        <!--       <span data-toggle="counter-up" >{{ github_month_commits }}</span> -->
        <!--       <p>commits this month in {{ github_month_commits_repos }} repos</p> -->
        <!--     </div> -->
        <!--   </div> -->
        <!-- </div> -->
        <!---->
        <!-- <hr> -->
        <!---->
        <!-- <center style="margin: 2em" data-aos="fade-up" data-aos="800"> -->
        <!--   <a href="https://github.com/marcpartensky" target="_blank"> -->
        <!--       <i style="font-size: 5em;"class="devicon-github-plain"></i> -->
        <!--       <p> Open github profile in new tab</p> -->
        <!--   </a> -->
        <!-- </center> -->
      </div>
    </section>


    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                    <a tab width="100%" href="{% static 'home/assets/pdf/degree.pdf' %}"><img loading="lazy" width="100%" src="{% static 'home/assets/img/degree.png' %}"></img></a>
            <!--         <iframe async id="open-web-calendar">Loading...</iframe> -->
            <!--         <iframe defer id="open-web-calendar" -->
            <!--             style="center center no-repeat" -->
												<!-- src="{{ calendar_url }}" -->
            <!--             sandbox="allow-scripts allow-same-origin allow-top-navigation" -->
            <!--             allowTransparency="true" scrolling="no" -->
            <!--             frameborder="0" height="600px" width="100%"></iframe> -->
                    <!-- <iframe async id="open-web-calendar" -->
                    <!--     style="center center no-repeat" -->
                    <!--     src="https://open-web-calendar.herokuapp.com/calendar.html?specification=https://gist.githubusercontent.com/MarcPartensky/1c20873acf6a628bd38b4ace58527838/raw/facf84c8caf648ca19c554043c685fec77865134/calendar.json" -->
                    <!--     sandbox="allow-scripts allow-same-origin allow-top-navigation" -->
                    <!--     allowTransparency="true" scrolling="no" -->
                    <!--     frameborder="0" height="600px" width="100%"></iframe> -->
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                    <img loading="lazy" src="{% static 'home/assets/img/setup.jpg' %}" alt="my-setup" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                    <img loading="lazy" src="{% static 'home/assets/img/featured/featured-1.png' %}" alt="featured" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-4">
                <figure>
									<img loading="lazy" src="{% static 'home/assets/img/marc.jpg' %}" alt="marc" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                  <h4>Autonomous</h4>
                  <p>
                  There is always have something to do.
                  If you disagree your first goal is to make yourself a planning.
                  </p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                  <h4>Passionate</h4>
                  <p>
                  It is my goal to learn everything there is to learn in computer science.
                  This is why I keep teaching myself everyday.
                  </p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                  <h4>Open minded</h4>
                  <p>
                  I'd rather you disagree with me than the opposite, because maybe then
                  I might learn something new.
                  </p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-4">
                  <h4>Enterprising</h4>
                  <p>
                  I am not afraid of failure.
                  It's only by failing a thousand times that I will have a chance of succeeding once.
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->


    <!-- ======= Why Us Section ======= -->
    <section id="why-this-website" class="why-us">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-stretch">

            <div class="section-title" data-aos="fade-up">
              <h2>Why make a website?</h2>
              <p>This website is a way to get better in web development, expose my side projects and self promote myself for getting a job.</p>
            </div>

            <div class="accordion-list">
              <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                  <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span>Who is if for?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                    <p>
                    Everyone wishing to know more about me, going from friends and recruiters, to simply curious visitors.
                    </p>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                  <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span>What is in it?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                    <p>
                    Lots and lots of side projects with some demos and tests. But also few informations about me.
                    </p>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                  <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> Why an orchid? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                    <p>
                    Maybe try to catch my nationality and the name of my dog, it might enlighten this mystery.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 order-1 order-lg-2 align-items-stretch video-box" data-aos="zoom-in" style="text-align: center; padding: 5rem">
              <img loading="lazy" src="{% static 'qrcode.svg' %}" style="width: 70%; height: 70%">
              <p><b>Scan to add me as a contact.</b></p>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Portfolio</h2>
          <p>Some of my side projects.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-game">Game</li>
              <li data-filter=".filter-simulation">Simulation</li>
              <li data-filter=".filter-library">Library</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-simulation">
            <div class="portfolio-wrap">
							<img loading="lazy" src="{% static 'home/assets/img/fourier.png' %}" class="img-fluid" alt="fourier">
              <div class="portfolio-info">
                <h4>Fourier drawing</h4>
                <p>Simulation</p>
                <div class="portfolio-links">
									<a href="{% static 'home/assets/gif/fourier.gif' %}" data-gall="portfolioGallery" class="venobox" title="Fourier drawing"><i class="bx bx-plus"></i></a>
                  <a href="https://pypi.org/project/fourier-drawing" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-library">
            <div class="portfolio-wrap">
                <img loading="lazy" src="{% static 'home/assets/img/spaceships.png' %}" class="img-fluid" alt="spaceships">
              <div class="portfolio-info">
                <h4>Pygame geometry</h4>
                <p>Library</p>
                <div class="portfolio-links">
                    <a href="{% static 'home/assets/gif/spaceships.gif' %}" data-gall="portfolioGallery" class="venobox" title="Pygame geometry"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/marcpartensky/pygame-geometry" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-simulation">
            <div class="portfolio-wrap">
                <img loading="lazy" src="{% static 'home/assets/img/sand-simulation-v2.png' %}" class="img-fluid" alt="sand-simulation">
              <div class="portfolio-info">
                <h4>Sand simulation</h4>
                <p>Simulation</p>
                <div class="portfolio-links">
                    <a href="{% static 'home/assets/gif/sand-simulation-v2.gif' %}" data-gall="portfolioGallery" class="venobox" title="Sand simulation"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/MarcPartensky/Python-Games/blob/master/Game%20Structure/geometry/version5/sandbox.py" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-game">
            <div class="portfolio-wrap">
							<img loading="lazy" src="{% static 'home/assets/img/asteroids.png' %}" class="img-fluid" alt="asteroids">
              <div class="portfolio-info">
                <h4>Asteroids</h4>
                <p>Game</p>
                <div class="portfolio-links">
                    <a href="{% static 'home/assets/gif/asteroids.gif' %}" data-gall="portfolioGallery" class="venobox" title="Asteroids"><i class="bx bx-plus"></i></a>
                  <a href="/first-site/asteroids" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-game">
            <div class="portfolio-wrap">
                <img loading="lazy" src="{% static 'home/assets/img/retrocube.jpg' %}" class="img-fluid" alt="retrocube">
              <div class="portfolio-info">
                <h4>Retro cube</h4>
                <p>Game</p>
                <div class="portfolio-links">
                    <a href="{% static 'home/assets/gif/retrocube.gif' %}" data-gall="portfolioGallery" class="venobox" title="Retro cube"><i class="bx bx-plus"></i></a>
                  <a href="https://drive.google.com/file/d/1Rc3lsfvgD5Y58m2in6vbd41ow9SzETTu/view?usp=drivesdk" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-simulation">
            <div class="portfolio-wrap">
                <img loading="lazy" src="{% static 'home/assets/img/sand.png' %}" class="img-fluid" alt="sand">
              <div class="portfolio-info">
                <h4>Granular flow</h4>
                <p>Simulation</p>
                <div class="portfolio-links">
                    <a href="{% static 'home/assets/gif/sand.gif' %}" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/marcpartensky/tipe-p2b" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-library">
            <div class="portfolio-wrap">
                <img loading="lazy" src="{% static 'home/assets/img/pygame.png' %}" class="img-fluid" alt="pygame">
              <div class="portfolio-info">
                <h4>Pygame Geometry</h4>
                <p>Library</p>
                <div class="portfolio-links">
                    <a href="{% static 'home/assets/gif/pygame.gif' %}" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                  <a href="https://pypi.org/project/pygame-geometry/" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-game">
            <div class="portfolio-wrap">
                <img loading="lazy" src="{% static 'home/assets/img/othello.png' %}" class="img-fluid" alt="othello">
              <div class="portfolio-info">
                <h4>Othello</h4>
                <p>Game</p>
                <div class="portfolio-links">
                    <a href="{% static 'home/assets/gif/othello.gif' %}" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/marcpartensky/tipe-p1a" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-simulation">
            <div class="portfolio-wrap">
                <img loading="lazy" src="{% static 'home/assets/img/mandelbrot.png' %}" class="img-fluid" alt="mandelbrot">
              <div class="portfolio-info">
                <h4>Mandelbrot set</h4>
                <p>Simulation</p>
                <div class="portfolio-links">
                    <a href="{% static 'home/assets/gif/mandelbrot.gif' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="https://github.com/MarcPartensky/Python-Games/tree/master/Mandelbrot" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="certificates" class="testimonials">
      <div class="container" data-aos="zoom-in">
        <div class="quote-icon">
          <i class="icofont-award"></i>
        </div>
        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <p>
              Delivered by Coursera in March 2020
            </p>
						<a href="{% static 'home/assets/pdf/certificate-1.pdf' %}"><img loading="lazy" src="{% static 'home/assets/img/coursera1.jpeg' %}"></img></a>
            <h3>Neural Networks and Deep Learning</h3>
            <h4><a target="_blank" href="https://coursera.org/verify/85SDPU4SWDQM">Verify</a></h4>
          </div>

          <div class="testimonial-item">
            <p>
              Delivered by Coursera in March 2020
            </p>
							<a href="{% static 'home/assets/pdf/certificate-2.pdf' %}"><img loading="lazy" src="{% static 'home/assets/img/coursera2.jpeg' %}"></img></a>
            <h3>Improving Deep Neural Networks: Hyperparameter tunning, Regularization and Optimization</h3>
            <h4><a target="_blank" href="https://coursera.org/verify/GCQZS7H8HFM4">Verify</a></h4>
          </div>

          <div class="testimonial-item">
            <p>
              Delivered by Coursera in April 2020
            </p>
							<a href="{% static 'home/assets/pdf/certificate-3.pdf' %}"><img loading="lazy" src="{% static 'home/assets/img/coursera3.jpeg' %}"></img></a>
							{% comment %}<iframe async class="embed-responsive-item" src="{% static 'home/assets/pdf/certificate-3.pdf' %}" type="application/pdf" allowfullscreen></iframe>{% endcomment %}
            <h3>Structuring Machine Learning Projects</h3>
            <h4><a target="_blank" href="https://coursera.org/verify/G52ATN4KSM69">Verify</a></h4>
          </div>

          <div class="testimonial-item">
            <p>
              Delivered by Coursera in April 2020
            </p>
							<a href="{% static 'home/assets/pdf/certificate-4.pdf' %}"><img loading="lazy" src="{% static 'home/assets/img/coursera4.jpeg' %}"></img></a>
							{% comment %}<iframe async class="embed-responsive-item" src="{% static 'home/assets/pdf/certificate-4.pdf' %}" type="application/pdf" allowfullscreen></iframe>{% endcomment %}
            <h3>Convolutional Neural Networks</h3>
            <h4><a target="_blank" href="https://coursera.org/verify/C76NP3CMBMB3">Verify</a></h4>
          </div>

          <div class="testimonial-item">
            <p>
              Delivered by Coursera in April 2020
            </p>
							<a href="{% static 'home/assets/pdf/certificate-5.pdf' %}"><img loading="lazy" src="{% static 'home/assets/img/coursera5.jpeg' %}"></img></a>
							{% comment %}<iframe async class="embed-responsive-item" src="{% static 'home/assets/pdf/certificate-5.pdf' %}" type="application/pdf" allowfullscreen></iframe>{% endcomment %}
            <h3>Sequence Models</h3>
            <h4><a target="_blank" href="https://coursera.org/verify/23X8YKXP69CZ">Verify</a></h4>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->


    {% comment %}<!-- ======= Team Section ======= -->{% endcomment %}
    {% comment %}<section id="team" class="team">{% endcomment %}
      {% comment %}<div class="container">{% endcomment %}

        {% comment %}<div class="section-title" data-aos="fade-up">{% endcomment %}
          {% comment %}<h2>Team</h2>{% endcomment %}
          {% comment %}<p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>{% endcomment %}
        {% comment %}</div>{% endcomment %}

        {% comment %}<div class="row">{% endcomment %}

          {% comment %}<div class="col-lg-4 col-md-6 d-flex align-items-stretch">{% endcomment %}
            {% comment %}<div class="member" data-aos="zoom-in">{% endcomment %}
              {% comment %}<div class="member-img">{% endcomment %}
                  {% comment %}<img src="{% static 'home/assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">{% endcomment %}
                {% comment %}<div class="social">{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-twitter"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-facebook"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-instagram"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-linkedin"></i></a>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</div>{% endcomment %}
              {% comment %}<div class="member-info">{% endcomment %}
                {% comment %}<h4>Walter White</h4>{% endcomment %}
                {% comment %}<span>Chief Executive Officer</span>{% endcomment %}
                {% comment %}<p>Animi est delectus alias quam repellendus nihil nobis dolor. Est sapiente occaecati et dolore. Omnis aut ut nesciunt explicabo qui. Eius nam deleniti ut omnis</p>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}

          {% comment %}<div class="col-lg-4 col-md-6 d-flex align-items-stretch">{% endcomment %}
            {% comment %}<div class="member" data-aos="zoom-in" data-aos-delay="100">{% endcomment %}
              {% comment %}<div class="member-img">{% endcomment %}
                  {% comment %}<img src="{% static 'home/assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">{% endcomment %}
                {% comment %}<div class="social">{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-twitter"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-facebook"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-instagram"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-linkedin"></i></a>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</div>{% endcomment %}
              {% comment %}<div class="member-info">{% endcomment %}
                {% comment %}<h4>Sarah Jhonson</h4>{% endcomment %}
                {% comment %}<span>Product Manager</span>{% endcomment %}
                {% comment %}<p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}

          {% comment %}<div class="col-lg-4 col-md-6 d-flex align-items-stretch">{% endcomment %}
            {% comment %}<div class="member" data-aos="zoom-in" data-aos-delay="200">{% endcomment %}
              {% comment %}<div class="member-img">{% endcomment %}
                  {% comment %}<img src="{% static 'home/assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">{% endcomment %}
                {% comment %}<div class="social">{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-twitter"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-facebook"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-instagram"></i></a>{% endcomment %}
                  {% comment %}<a href=""><i class="icofont-linkedin"></i></a>{% endcomment %}
                {% comment %}</div>{% endcomment %}
              {% comment %}</div>{% endcomment %}
              {% comment %}<div class="member-info">{% endcomment %}
                {% comment %}<h4>William Anderson</h4>{% endcomment %}
                {% comment %}<span>CTO</span>{% endcomment %}
                {% comment %}<p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero. Maxime sit sunt quo dolor autem est qui quaerat</p>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}

        {% comment %}</div>{% endcomment %}

      {% comment %}</div>{% endcomment %}
    {% comment %}</section><!-- End Team Section -->{% endcomment %}

    {% comment %}<!-- ======= Pricing Section ======= -->{% endcomment %}
    {% comment %}<section id="pricing" class="pricing section-bg">{% endcomment %}
      {% comment %}<div class="container">{% endcomment %}

        {% comment %}<div class="section-title" data-aos="fade-up">{% endcomment %}
          {% comment %}<h2>Pricing</h2>{% endcomment %}
          {% comment %}<p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>{% endcomment %}
        {% comment %}</div>{% endcomment %}

        {% comment %}<div class="row">{% endcomment %}

          {% comment %}<div class="col-lg-4 col-md-6">{% endcomment %}
            {% comment %}<div class="box" data-aos="zoom-in" data-aos-delay="100">{% endcomment %}
              {% comment %}<h3>Free</h3>{% endcomment %}
              {% comment %}<h4><sup>$</sup>0<span> / month</span></h4>{% endcomment %}
              {% comment %}<ul>{% endcomment %}
                {% comment %}<li>Aida dere</li>{% endcomment %}
                {% comment %}<li>Nec feugiat nisl</li>{% endcomment %}
                {% comment %}<li>Nulla at volutpat dola</li>{% endcomment %}
                {% comment %}<li class="na">Pharetra massa</li>{% endcomment %}
                {% comment %}<li class="na">Massa ultricies mi</li>{% endcomment %}
              {% comment %}</ul>{% endcomment %}
              {% comment %}<div class="btn-wrap">{% endcomment %}
                {% comment %}<a href="#" class="btn-buy">Buy Now</a>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}

          {% comment %}<div class="col-lg-4 col-md-6 mt-4 mt-md-0">{% endcomment %}
            {% comment %}<div class="box recommended" data-aos="zoom-in">{% endcomment %}
              {% comment %}<span class="recommended-badge">Recommended</span>{% endcomment %}
              {% comment %}<h3>Business</h3>{% endcomment %}
              {% comment %}<h4><sup>$</sup>19<span> / month</span></h4>{% endcomment %}
              {% comment %}<ul>{% endcomment %}
                {% comment %}<li>Aida dere</li>{% endcomment %}
                {% comment %}<li>Nec feugiat nisl</li>{% endcomment %}
                {% comment %}<li>Nulla at volutpat dola</li>{% endcomment %}
                {% comment %}<li>Pharetra massa</li>{% endcomment %}
                {% comment %}<li class="na">Massa ultricies mi</li>{% endcomment %}
              {% comment %}</ul>{% endcomment %}
              {% comment %}<div class="btn-wrap">{% endcomment %}
                {% comment %}<a href="#" class="btn-buy">Buy Now</a>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}

          {% comment %}<div class="col-lg-4 col-md-6 mt-4 mt-lg-0">{% endcomment %}
            {% comment %}<div class="box" data-aos="zoom-in" data-aos-delay="100">{% endcomment %}
              {% comment %}<h3>Developer</h3>{% endcomment %}
              {% comment %}<h4><sup>$</sup>29<span> / month</span></h4>{% endcomment %}
              {% comment %}<ul>{% endcomment %}
                {% comment %}<li>Aida dere</li>{% endcomment %}
                {% comment %}<li>Nec feugiat nisl</li>{% endcomment %}
                {% comment %}<li>Nulla at volutpat dola</li>{% endcomment %}
                {% comment %}<li>Pharetra massa</li>{% endcomment %}
                {% comment %}<li>Massa ultricies mi</li>{% endcomment %}
              {% comment %}</ul>{% endcomment %}
              {% comment %}<div class="btn-wrap">{% endcomment %}
                {% comment %}<a href="#" class="btn-buy">Buy Now</a>{% endcomment %}
              {% comment %}</div>{% endcomment %}
            {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}

        {% comment %}</div>{% endcomment %}

      {% comment %}</div>{% endcomment %}
    {% comment %}</section><!-- End Pricing Section -->{% endcomment %}

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>FAQ</h2>
        </div>

        <ul class="faq-list">

          <li data-aos="fade-up">
            <a data-toggle="collapse" class="collapsed" href="#faq1">Which school did you go to?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-parent=".faq-list">
              <p>
              I stayed my whole childhood in a school named Saint Jean Hulst until I got my high school diploma then I went to an engineering school called ISEP where I still am today.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <a data-toggle="collapse" href="#faq2" class="collapsed">How did you learn all these skills?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
              I learned most of it on openclassrooms and on youtube.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-toggle="collapse" href="#faq3" class="collapsed">What are your hobbies?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
              I like spending my time with my dog Glouay-May, playing basketball and adding plugins to my neovim setup ;) I sometimes go to keybr.com to compete against others in touch typing when I feel like it.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-toggle="collapse" href="#faq4" class="collapsed">How can I contact you?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
              Just scroll to the bottom of the page and here you go!
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <a data-toggle="collapse" href="#faq5" class="collapsed">Did you make this website all by yourself?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
              That's right!
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq6" class="collapsed">I want to give you a job offer.<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq6" class="collapse" data-parent=".faq-list">
              <p>
              I am very open to job offers and I'd be very happy to hear your proposal. Drop me your phone number and your email in the contact section and I'll make sure to call you to give you my answer.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Send me a message. I can't wait to meet you.</p>
        </div>

        <div style="width: 100%">
					<iframe defer width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Boulevard%20Saint%20Antoine,%20Versailles+(My%20home)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            <a href="https://www.maps.ie/route-planner.htm">Journey Planner</a>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Boulevard Saint Antoine,<br>Versailles, 78000</p>
              </div>

              <div class="email">
                  <a href="mailto:marc.partensky@gmail.com"><i class="icofont-envelope"></i></a>
                    <h4>Email:</h4>
                    <p>marc.partensky@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+33 07 67 44 36 62</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

						<form action="{% url 'notified-mail-form' %}" method="post" role="form" class="php-email-form" data-aos="fade-left">
							{% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
	{% include 'include/footer.html' %}
	<!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
	{% include 'include/scripts.html' %}

  <!-- Template Main JS File -->
	{#<script src="{% static 'resume/assets/js/main.js' %}"></script>#}
  <script src="{% static 'home/assets/js/main.js' %}"></script>

</body>

</html>
