<!--Facebook-->
<a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
<!--Twitter-->
<a class="tw-ic mr-3" role="button"><i class="fab fa-lg fa-twitter"></i></a>
<!--Google +-->
<a class="gplus-ic mr-3" role="button"><i class="fab fa-lg fa-google-plus-g"></i></a>
<!--Linkedin-->
<a class="li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
<!--Instagram-->
<a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
<!--Pinterest-->
<a class="pin-ic mr-3" role="button"><i class="fab fa-lg fa-pinterest"></i></a>
<!--Vkontakte-->
<a class="vk-ic mr-3" role="button"><i class="fab fa-lg fa-vk"></i></a>
<!--Stack Overflow-->
<a class="so-ic mr-3" role="button"><i class="fab fa-lg fa-stack-overlow"></i></a>
<!--Youtube-->
<a class="yt-ic mr-3" role="button"><i class="fab fa-lg fa-youtube"></i></a>
<!--Slack-->
<a class="slack-ic mr-3" role="button"><i class="fab fa-lg fa-slack-hash"></i></a>
<!--Github-->
<a class="git-ic mr-3" role="button"><i class="fab fa-lg fa-github"></i></a>
<!--Comments-->
<a class="comm-ic mr-3" role="button"><i class="fas fa-lg fa-comments"></i></a>
<!--Email-->
<a class="email-ic mr-3" role="button"><i class="far fa-lg fa-envelope"></i></a>
<!--Dribbble-->
<a class="dribbble-ic mr-3" role="button"><i class="fab fa-lg fa-dribbble"></i></a>
<!--Reddit-->
<a class="reddit-ic mr-3" role="button"><i class="fab fa-lg fa-reddit-alien"></i></a>
<!--WhatsApp-->
<a class="whatsapp-ic" role="button"><i class="fab fa-lg fa-whatsapp"></i></a>f
