{% extends 'layout/home.html' %}
{% load static %}

{% block content %}
<div class="container">
	<div class="list-group">
	{% for todo in todos %}
	<a href="#" class="list-group-item list-group-item-action flex-column align-items-start"><!--active-->
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">{{todo.title}}</h5>
				<small>{{todo.updated}}</small>
			</div>
			<p class="mb-1">{{todo.content}}</p>
			<small>{{todo.state}}</small>
		</a>
	</div>
	{% endfor %}
</div>

{% endblock content %}
