html
{
    /*background: black;*/
    background-image: url("particles1.jpg");
    color: white;
}

*
{
  text-align: justify;
  text-color: white;
  color: white;
  font-family: SF;
  font-size: 105%;
  quotes: "“" "”";

}

@font-face {
  font-family: SF;
  src: url("SF-Pro-Text-Regular.otf");
}

iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video {
  position: relative;
  padding-bottom:56.25%;
}

nav
{
  width: 100%;
  position: fixed;
  display: flex;
  top:0 ;
  z-index:999;
}

nav a
{
  overflow: hidden;
  background-color: rgba(50,50,50,0.9);
  text-align: center;
  color: white;
  width: 100%;
  font-size: 150%;
  border: 2px solid rgba(100,100,100,0.9);
  padding-top: 5px;
  padding-bottom: 5px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}


#introduction
{
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  border-top: 20px solid rgb(15,15,15);
  border-bottom: 20px solid rgb(15,15,15);
  padding: 10px; /* Marge intérieure de 12px */
  margin-top: 20px;
  min-width: 400px;
}

footer
{
  background: rgba(30,30,30,0.99);
  font-size: 150%;
  text-align: center;
  border-color: rgba(255,255,255,0.5);
  text-attachment: fixed;
  padding: 10px; /* Marge intérieure de 12px */
  min-width: 200px;
}

#all
{
  margin: 5%;
  border: 3px solid white;
}

h1
{
  text-align: center;
}

h2
{
  color: white;
  text-align: center;
}


a:focus
{
  color: red;
}

#contact
{
  text_align: right;
}

#projects article
{
  width: 100%;
  text-align: center;
}


#projects a
{
  overflow: hidden;
  background-color: rgba(50,50,50,0.9);
  text-align: center;
  color: white;
  width: 100%;
  font-size: 150%;
  border: 2px solid rgba(100,100,100,0.9);
  padding-top: 5px;
  padding-bottom: 5px;
}

#projects a:hover
{
  overflow: hidden;
  background-color: rgba(100,100,100,0.9);
  text-align: center;
  color: white;
  width: 100%;
  font-size: 150%;
  border: 2px solid rgba(100,100,100,0.9);
  padding-top: 5px;
  padding-bottom: 5px;
}


video
{
  width: 100%;
  height: 90;
  border: 3px solid rgba(15,15,15,0.5);
  display: block;

}

.achievements
{
  text-color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.9);
  border-top: 20px solid rgb(15,15,15);
  padding: 5px;
  margin-top: 20px;
  opacity: 0.95;
}
