{% load static %}<!DOCTYPE html>
<html>
  <head>
    <title>Test-markdown</title>
        <link href="{% static 'home/assets/img/white-orchid.svg' %}" rel="icon">
        <link href="{% static 'home/assets/img/black-orchid.svg' %}" rel="apple-touch-icon">
        <link href="{% static 'article/assets/css/main.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'article/mixu-radar/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'article/mixu-radar/css/pilcrow.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'article/mixu-radar/css/hljs-github.min.css' %}"/>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <script src="https://cdn.jsdelivr.net/npm/node-plantuml@0.9.0/index.min.js"></script>
        </head>
<body>
        <div style="clear: both;">
            <div style="float: left">
                {{ view_count }}
                <span class="iconify" data-icon="carbon:view" data-inline="false"></span>
                {{ like_count }}
                <span class="iconify" data-icon="fluent-thumb-like-16-regular" data-inline="false"></span>
                {{ dislike_count }}
                <span class="iconify" data-icon="fluent:thumb-dislike-24-regular"data-inline="false"></span>
                <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
            </div>
            <div style="float: right">
                <small style="text-align: right">{{ created }}</small>
                {% if update_count > 0 %}
                <small> V{{ update_count }}</small>
                {% endif %}
            </div>
        </div>
        

  <div id="toc">
    <div id="toc-inner">
        <a class="back" class="container" href="{% url 'article' %}"><p>Back to articles</p></a><div class="fade_rule"></div><ul class="nav nav-list">
    <li class="sidebar-header-1"><a href="#this-is-a-test-of-markdown">This is a test of markdown</a></li>
</ul>
    </div>
  </div>

  <div id="wrapper">
    <div id="header">

    </div>

    <div class="clear"></div>
    <div id="main">
      <div id="content" class="post"><p>#!/usr/bin/env ./upload.py</p>
<h1 id="this-is-a-test-of-markdown"><a class="header-link" href="#this-is-a-test-of-markdown"></a>This is a test of markdown</h1>
<p>Hope you like this test of markdown.
This is the first file send by using shebang script.</p>
      </div>
    </div>

    <div class="clear">
    </div>

    <div id="footer">
    </div>
  </div>
<script src="{% static 'home/assets/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'home/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'article/assets/js/main.js' %}"></script>
    </body>
<a href="#" class="back-to-top" style="display: inline;         position:fixed; right:15px; bottom:15px; z-index:99999;">         <i style="display: flex; align-items: center; justify-content: center;         font-size: 24px; width: 40px; height: 40px; border-radius: 4px;         background: #7cc576; color: #fff; transition: all 0.4s;"         class="icofont-simple-up"></i></a>
</html>
