{% extends "layout/markdown.html" %}

{% block markdown %}
<h1 id="todolist">Todolist</h1>
<h2 id="obligatoire">Obligatoire</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
chercher des offres sur monster</li>
<li><input type="checkbox" disabled="" />
appeller la bpi</li>
<li><input type="checkbox" disabled="" />
améliorer photo sur cvs</li>
</ul>
<h2 id="tâches">Tâches</h2>
<h3 id="site-web">Site Web</h3>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
curseur de chargement page d’accueil</li>
<li><input type="checkbox" disabled="" />
chartre graphique page d’accueil</li>
<li><input type="checkbox" disabled="" />
ajouter connexion dans la page d’accueil</li>
<li><input type="checkbox" disabled="" />
ajouter formulaire qui fonctionne sur la page d’accueil</li>
<li><input type="checkbox" disabled="" />
socket django</li>
<li><input type="checkbox" disabled="" />
chat django</li>
<li><input type="checkbox" disabled="" />
section liste de projets sur site web dans tel ou tel techno = preuve pour freelancer.com</li>
</ul>
<h3 id="promotion">Promotion</h3>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
ajouter spark + aws emr au cv + linkedin + site web</li>
<li><input type="checkbox" disabled="" />
ajouter déploiement docker de fourier et pygame-geometry</li>
<li><input type="checkbox" disabled="" />
ajouter docker, tensorflow au cv</li>
<li><input type="checkbox" disabled="" />
carte de visite <a href="/Volumes/$/Application/Affinity%20Designer.app">affinity designer</a> + <a href="/Volumes/$/Application/Affinity%20Photo.app">affinity photo</a></li>
<li><input type="checkbox" disabled="" />
bilan de compétences</li>
<li><input type="checkbox" disabled="" />
version anglaise du CV</li>
</ul>
<h3 id="autre">Autre</h3>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
compétitions de programmation google kick start?, facebook?</li>
<li><input type="checkbox" disabled="" />
ctf?</li>
<li><input type="checkbox" disabled="" />
online liveshare codeshare.live</li>
<li><input type="checkbox" disabled="" />
créer un compte fiverr</li>
<li><input type="checkbox" disabled="" />
fusion calendrier et todolist</li>
</ul>
<h2 id="tutoriels">Tutoriels</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
react native</li>
<li><input type="checkbox" disabled="" />
rust</li>
<li><input type="checkbox" disabled="" />
pytorch</li>
<li><input type="checkbox" disabled="" />
sklearn</li>
<li><input type="checkbox" disabled="" />
scala</li>
<li><input type="checkbox" disabled="" />
angular</li>
<li><input type="checkbox" disabled="" />
développement mobile java</li>
<li><input type="checkbox" disabled="" />
portail de l’informatique</li>
<li><input type="checkbox" disabled="" />
3d kit unity</li>
<li><input type="checkbox" disabled="" />
go dans go</li>
<li><input type="checkbox" disabled="" />
.Net</li>
<li><input type="checkbox" disabled="" />
docker + kubernetes</li>
</ul>
<h2 id="lectures">Lectures</h2>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
zero to one</li>
<li><input type="checkbox" disabled="" />
bio Elon Musk</li>
<li><input type="checkbox" disabled="" />
“Quand la machine apprend” de Yann Le Cun</li>
<li><input type="checkbox" disabled="" />
manifeste agile</li>
<li><input type="checkbox" disabled="" />
c# .NET</li>
</ul>
<h2 id="bonus">Bonus</h2>
<ul class="task-list">
<li><p><input type="checkbox" disabled="" checked="" />
covim</p></li>
<li><p><input type="checkbox" disabled="" />
protection des secrets avec mac (ce dont parlait valentin)</p></li>
<li><p><input type="checkbox" disabled="" />
bot discord gestion de rôle automatique + leaderboard + rename avec €</p></li>
</ul>
<h3 id="site">Site</h3>
<ul class="task-list">
<li><input type="checkbox" disabled="" />
page de cv</li>
<li><input type="checkbox" disabled="" />
fourier sur page d’accueil</li>
<li><input type="checkbox" disabled="" />
touch typing + django channels</li>
<li><input type="checkbox" disabled="" />
afficher la liste des taches sur mon site</li>
</ul>
<h2 id="tâche-de-fond">Tâche de fond</h2>

{% endblock markdown %}
