{% load static %}
<!-- <div class="tenor-gif-embed" data-postid="16570918" data-share-method="host" data-width="100%" data-aspect-ratio="1.541795665634675"><a href="https://tenor.com/view/smart-you-so-think-genius-gif-16570918">Smart You GIF</a> from <a href="https://tenor.com/search/smart-gifs">Smart GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script> -->
<video preload="auto" loop autoplay id="video" width="100%" height="100%">
    <source src="{% static 'errors/500.mp4' %}">
</video>
