{% extends "editor/layout/menu.html" %}

{% block content %}
<div id="main-container">
	<h1>Code</h1>
	<hr>
	</br>
	<a href="{% url 'code-script-index' %}">
		<button type="button" class="btn btn-primary btn-lg">Scripts</button>
	<!-- </a> -->
	<!-- <a href=""> -->
	<!-- 	<button type="button" class="btn btn-primary btn-lg">Users</button> -->
	<!-- </a> -->
	<!-- <a href=""> -->
	<!-- 	<button type="button" class="btn btn-primary btn-lg">Users</button> -->
	<!-- </a> -->
</div>
{% endblock content %}

<!-- When i wont be lazy -->
	<!-- <div class="btn-group btn-group-toggle" data-toggle="buttons"> -->
  <!-- <label class="btn btn-secondary active"> -->
    <!-- <input type="radio" name="options" id="option1" autocomplete="off" checked> Active -->
  <!-- </label> -->
  <!-- <label class="btn btn-secondary"> -->
    <!-- <input type="radio" name="options" id="option2" autocomplete="off"> Radio -->
  <!-- </label> -->
  <!-- <label class="btn btn-secondary"> -->
    <!-- <input type="radio" name="options" id="option3" autocomplete="off"> Radio -->
  <!-- </label> -->
<!-- </div> -->
