{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'include/head.html' %}
	{% block styles %}
	{% endblock styles %}
	<style>

.content {
	padding: 5%;
	margin: 5%;
	min-height: 48vh;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
	</style>
</head>

<body>
  <!-- ======= Header ======= -->
	{% include 'include/header.html' %}
  <!-- End Header -->

	{% include 'include/messages.html' %}

  <main id="main">
		<div class="container" style="width: 80%">
			<div class="content shadow">
				{% block content %}
				{% endblock content %}
			</div>
		</div>
  </main><!-- End #main -->

	<!-- Footer -->
	{% include 'include/footer.html' %}
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
	{% include 'include/scripts.html' %}

	<!-- Template Main JS File -->
  {% block script %}
  {% endblock script %}
</body>

</html>


