{% extends "layout/home.html" %}
{% load static %}
{% block content %}
<div class="container" style="margin: 3rem">
    <div class="page-header">
        <h1> {{title}} </h1>
        <hr>
        <p> Since all of these demos are loaded using iframes some of them might be inverted.</p>
    </div>
</div>

<div class="container">
    <!--<div class="card">-->
    <!--    <h2> Pixel Art Editor</h2>-->
    <!--    <p> An editor for making pixel art. Since I need to pixel art pictures for my expanse game.-->
    <!--    I made this editor from scratch for making it easier to make my sprites.</p>-->
    <!--    <!-1-<img src="https://cdn.discordapp.com/attachments/702863598761803806/752885931547033700/pixel-art_editor_thumbnail_copy.png">-1->-->
    <!--    <iframe src="{% url 'pixel-art' %}"></iframe>-->
    <!--</div>-->

    {% for demo in demos %}
        <div class="card" style="padding: 2rem; margin: 3rem">
            <a href="/demo/{{demo}}">
                <button type="button" class="btn btn-primary">
                    <h2> {{ demo }}</h2>
                </button>
            </a>
            <hr>
            <iframe height="500px" src="/demo/{{demo}}"></iframe>
        </div>
    {% endfor %}
</div>

<!-- Lines -->
<!--<div class="container">-->
<!--    {% for project in projects %}-->
<!--    <div class="well hidden-sm hidden-md hidden-lg">-->
<!--        <div class="caption">-->
<!--            <h3>{{project.title}}</h3>-->
<!--            <p>{{project.content}}</p>-->
<!--        </div>-->
<!--        <!-1-<p><a href="#" class="btn btn-primary" role="button">My favorite project</a></p>-1->-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--</div>-->
{% endblock content %}
