{% load static %}
<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
</head>
<body>
<script>
const session = { token: undefined, python: false}
const commands = {
    hello: function() {
        this.echo('Hi!')
    },
    cat: function() {
        const n = Math.floor(500*Math.random())
        this.echo($('<img src="https://placekitten.com/'+n+'/287">'));
    },
    echo: function(args) {
        this.echo(args)
    },
    man: function(cmd) {
        $.get(`/demo/cheat/${cmd}`, function(data) {
            this.echo(data)
        }.bind(this))
    },
    login: function(user, password) {
        this.echo(`Trying to login as: [[b;#0000ff;]${user}]`)
        $.post('/api/login', {user, password
        }).done(function(data, status) {
            console.log(data)
            data = JSON.parse(data)
            session.token = data.token
            console.log(data.token)
            this.echo(`[[b;#00ff00;]Access Granted!]`)
        }.bind(this)).fail(function(err) {
            this.echo("[[b;#ff0000;]Access Denied!]")
        }.bind(this))
    },
    python: function() {
        session.python = !session.python;
        if (session.python) {
            msg = 'on'
        } else {
            msg = 'off'
        }
        this.echo(`[[b;#FFA500;]Python mode ${msg}!]`)
    },
}

$('body').terminal(commands,{
    greetings: '{{cmd}}',
    onCommandNotFound: function(cmd, term) {
        if (session.python) {
            cmd_ = escape(cmd)
            $.post(`/api/python/${cmd_}`, {token:session.token
            }).done(function(data, status) {
                this.echo(`[[b;#f0f000;]${unescape(data)}]`)
            }.bind(this)).fail(function(err) {
                this.echo(`[[b;#ff0000;]${cmd} is not a valid command]`)
            }.bind(this))
        } else {
            this.echo(`[[b;#ff0000;]${cmd} is not a valid command]`)
        }
    }
});
</script>

</body>
</html>
