{% extends "layout/home.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'users/card.css' %}"></link>
{% endblock styles %}

{% block content %}
<div id="main-container" class="container">
  <div id="card" class="card border-dark bg-light mb-3" style="width: 100%; text-align: center; margin: 3rem">
    <div class="card-body">
      <div class="alert alert-info">
        An email has been sent with instructions to reset your password.
      </div>
    </div>
  </div>
</div>
{% endblock content %}
