{% extends 'layout/home.html' %}
{% load static %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
		Preferences
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
		<div class="form-group row">
			{% for field in fields %}
			<label for="{{field.key}}" class="col-sm-2 col-form-label">{{field.key}}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="{{field.key}}" placeholder="{{field.value}}">
			{% endfor %}
			</div>
		</div>
  </div>
  <div class="card-footer text-muted">
		{{ updated }}
	</div>
</div>



{% endblock content %}
