{% extends "layout/home.html" %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{{asset 'css/style-mixu.css'}}" />
<link type="text/css" rel="stylesheet" href="{{asset 'style.css'}}" />
<link type="text/css" rel="stylesheet" href="{{asset 'css/pilcrow.css'}}" />
<link type="text/css" rel="stylesheet" href="{{asset 'css/hljs-github.min.css'}}"/>
<div id="toc">
    <div id="toc-inner">
      {{~> toc}}
    </div>
</div>

<div id="wrapper">
    <div id="header">

    </div>

    <div class="clear"></div>
    <div id="main">
      <div id="content" class="post">
      {{~> content}}
      </div>
    </div>

    <div class="clear">
    </div>

    <div id="footer">
    </div>
</div>
{% endblock content %}
